@import "../variables";
@import "~bootstrap/scss/bootstrap";

// TODO: `featured-product-section h1` should replace `course-section h1` in home.css on feature merge
.featured-product-section h1 {
  color: $home-page-header-blue;
  text-align: left;
  font-size: 25px;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 60px 0 33px 0;
  @include media-breakpoint-down(sm) {
    font-size: 30px;
    padding: 20px 0;
  }
}

.featured-product-section-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  max-width: 1440px !important;
  @include media-breakpoint-down(sm) {
    width: 100%;
    margin: 0;
  }

  .featured-product-section {
    display: flex;
    width: 100%;
    max-width: 1440px;
    height: 520px;
    flex-shrink: 0;
    background-image: url('/static/images/featured-product-rectangle.svg');
    background-size: cover;
    flex-direction: column;
    align-items: center;
    @include media-breakpoint-down(sm) {
      width: 100%;
      height: 450px;
      background-image: unset;
      background-color: $home-page-grey-lite;
    }

    .featured-product-header {
      max-width: 1344px;
      width: 93.333333%;
      margin: 0 auto;
      padding-top: 60px;
      flex-shrink: 0;
      fill: $home-page-grey-lite;
      display: flex;
      align-content: space-between;
      @include media-breakpoint-down(sm) {
        width: 100%;
        padding-top: 0;
      }

      .featured-product-header-title {
        color: $home-page-header-blue;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @include media-breakpoint-down(sm) {
          width: 176px;
          font-size: 18px;
          margin-left: 15px;
          margin-top: 30px;
        }
      }

      .featured-product-arrows {
        display: inline-flex;
        align-items: flex-start;
        gap: 10px;
        margin-left: auto;
        @include media-breakpoint-down(sm) {
          margin-right: 15px;
          margin-top: 30px;
        }

        .arrow {
          display: flex;
          padding: 8px 15px;
          align-items: flex-start;
          gap: 10px;
          border-radius: 3px;
        }

        .next-arrow {
          border: 1px solid $home-page-dark-blue;
          background: $home-page-dark-blue;
        }

        .prev-arrow {
          border: 1px solid $home-page-border-grey;
          background: $home-page-border-grey;
        }
      }
    }

    .featured-product-listing {
      display: flex;
      margin: 40px auto 0 auto;
      max-width: 1344px;
      width: 93.333333%;
      height: 238px;
      justify-content: flex-end;
      align-items: center;
      flex-shrink: 0;
      padding-bottom: 17px;

      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-top: 30px;
        align-items: unset;
        padding-bottom: 0;
        }

      .carousel-inner {
        overflow-y: unset;

        .carousel-item {
          gap: 24px;

          .featured-product-card {
            width: calc(25%);
            border-radius: 5px;
            background: white;
            box-shadow: 0 2px 3px 0 rgba(18, 38, 49, 0.15);
            @include media-breakpoint-down(sm) {
              width: 282px;
              margin: auto;
              height: 238px;
              }

            a {
              text-decoration: none;

              .featured-product-thumb {
                position: relative;

                img {
                  width: 100%;
                  border-radius: 5px 5px 0 0;
                }

                .badge-program-type {
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  padding: 8px 15px;
                  border-radius: 0 3px 3px 0;
                  background-color: $home-page-header-blue;
                  color: #FFF;
                }
              }

              .featured-product-info {
                margin: 13px 15px 15px 15px;
                padding: 0;

                .date {
                  color: $home-page-grey-text;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  margin-bottom: 5px;
                }

                .featured-product-card-title {
                  height: 33px;
                  flex-shrink: 0;
                  align-self: stretch;
                  color: $home-page-header-blue;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  margin-top: 0;
                }
              }
            }
          }
        }
      }

      @include media-breakpoint-down(sm) {
        .carousel-inner .carousel-item > div {
          display: none;
        }
        .carousel-inner .carousel-item > div:first-child {
          display: block;
        }
      }

      .carousel-inner .carousel-item.active,
      .carousel-inner .carousel-item-next,
      .carousel-inner .carousel-item-prev {
        display: flex;
      }

      /* medium and up screens */
      @include media-breakpoint-up(md)  {

        .carousel-inner .carousel-item-end.active,
        .carousel-inner .carousel-item-next {
          transform: translateX(25%);
        }

        .carousel-inner .carousel-item-start.active,
        .carousel-inner .carousel-item-prev {
          transform: translateX(-25%);
        }
      }

      .carousel-inner .carousel-item-end,
      .carousel-inner .carousel-item-start {
        transform: translateX(0);
      }
    }

    .featured-product-navigation {
      padding-bottom: 66px;
      display: flex;
      margin-top: 17px;
      width: 1344px;
      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-top: 30px;
        }

      .view-catalog-button {
        display: flex;
        width: 250px;
        padding: 16px 25px;
        justify-content: center;
        align-items: flex-start;
        border-radius: 3px;
        border: 1px solid $home-page-header-blue;
        color: $home-page-header-blue;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background-color: transparent;
        align-self: center;
        margin: auto;
        @include media-breakpoint-down(sm) {
          width: 100%;
          max-width: 280px;
        }
      }
    }
  }
}