{% if is_uai_enrollment %}
<div style="text-align: center;">
    MIT Open Learning, 600 Technology Square, NE49-2000, Cambridge, MA 02139
</div>
{% else %}
MIT Open Learning, 600 Technology Square, NE49-2000, Cambridge, MA 02139
<br>
&copy; {% now "Y" %} {{ site_name }}, All Rights Reserved. <a href="https://learn.mit.edu/terms" style="color: #b0b0b0; text-decoration: underline;">Terms of Service</a> and <a href="https://learn.mit.edu/privacy" style="color: #b0b0b0; text-decoration: underline;">Privacy Policy</a>
{% endif %}
