{% extends "base.html" %}

{% load static wagtail_img_src render_bundle %}

{% block title %}{{ site_name }}{% endblock %}

{% block headercontent %}
  <div id="header"></div>
  {% render_bundle 'header' %}
{% endblock %}

{% block content %}
    <div class="hero-container" style="background-image: url('{% wagtail_img_src page.hero%}')">
      <div class="container hero-content">
        <div class="hero-title">
          {% if page.hero_title %}
            <h1>{{ page.hero_title }}</h1>
          {% endif %}
          {% if page.hero_subtitle %}
            <h2>{{ page.hero_subtitle }}</h2>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock %}