{% extends "base.html" %}

{% load static wagtail_img_src render_bundle  %}
{% load wagtailcore_tags wagtailembeds_tags %}

{% block title %}{{ page.title }} | {{ site_name }}{% endblock %}

{% block headercontent %}
  <div id="header"></div>
  {% render_bundle 'header' %}
{% endblock %}

{% block content %}
    <div class="product-page" id="wrapper">
      <section class="hero-block">
        <div class="container">
          <div class="content-row">
            <div class="content-col">
              <div class="text">
                <h1>{{ page.title }}</h1>
                <p>{{ page.description |richtext }}</p>
                {% if run %}
                  {% if is_enrolled %}
                    {% if run.courseware_url_path %}
                      <a href="{{ run.courseware_url }}" class="action-btn" target="_blank" rel="noopener noreferrer">
                        Enrolled &#10003;
                      </a>
                    {% else %}
                      <div class="action-btn">
                        Enrolled &#10003;
                      </div>
                    {% endif %}
                  {% else %}
                    {% if sign_in_url %}
                      <a href="{{ sign_in_url }}" class="action-btn">
                        Enroll now
                      </a>
                    {% else %}
                      <form action="/enrollments/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="run" value="{{ run.id }}" />
                        <button type="submit" class="action-btn">
                          Enroll now
                        </button>
                      </form>
                    {% endif %}
                  {% endif %}
                {% endif %}
              </div>
            </div>
            {% if page.video_url %}
              <div class="content-col video">
                <video-js
                  class="vjs-default-skin vjs-big-play-centered" 
                  controls 
                  data-setup="{{page.video_player_config}}"
                  preload='metadata'
                >
                </video-js>
              </div>
            {% endif %}
          </div>
        </div>
      </section>
      <section class="info-block">
        <div class="container">
          <div class="stats-row">
            {% if start_date %}
            <div class="stat-col">
              <div class="title">start date</div>
              <div class="text">
                <strong>{{ start_date|date:"F j, Y" }}</strong>
              </div>
            </div>
            {% endif %}
            {% if page.length %}
            <div class="stat-col small">
              <div class="title">length</div>
              <div class="text">
                <strong>{{ page.length }}</strong>
              </div>
            </div>
            {% endif %}
            {% if page.effort %}
            <div class="stat-col">
              <div class="title">effort</div>
              <div class="text">
                <strong>{{ page.effort }}</strong>
              </div>
            </div>
            {% endif %}
            {% if page.price %}
            <div class="stat-col small">
              <div class="title">price</div>
              <div class="text">
                <strong>
                  {% if page.price.0.value.link %}
                    <a target="_blank" href={{page.price.0.value.link}}>{{page.price.0.value.text}}</a>
                  {% else %}
                  {{page.price.0.value.text}}
                  {% endif %}
                </strong>
              </div>
            </div>  
            {% endif %}
          </div>
        </div>
      </section>
      <section class="text-block">
        <div class="container">
          <div class="text-holder">
            <div class="about-text">
              <h2>About this course</h2>
              {{ page.about |richtext }}
            </div>
            {% if page.prerequisites %}
              <h2>Prerequisites</h2>
              <p>{{ page.prerequisites |richtext }}</p>
            {% endif %}
            <h2>What you’ll learn</h2>
            {{ page.what_you_learn |richtext }}
          </div>
        </div>
      </section>
      {% if page.faculty_members %}
      <section class="faculty-section">
        <div class="container">
          <h2>{{ page.faculty_section_title }}</h2>
          <ul class="faculty-members card-listing">
            {% for member in page.faculty_members %}
              <li>
                <div class="member-card highlight-card">
                  <img src="{% wagtail_img_src member.value.image %}" alt="{{ member.name }}">
                  <div class="member-info">
                    <h4 class="name">{{ member.value.name }}</h4>
                    <div class="description">{{ member.value.description }}</div>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </section>
      {% endif %}
    </div>
{% endblock %}