beautifulsoup4==4.8.2
celery==4.3.0
celery-redbeat==0.13.0
boto3==1.16.63
dj-database-url==0.5.0
django-anymail[mailgun]==6.1.0
django
django-countries==7.2.1
django-filter==2.3.0
django-hijack==2.1.10
django-hijack-admin==2.1.10
django-ipware==3.0.0
django-redis~=5.0.0
django-robots~=4.0.0
django-server-status==0.6.0
django-webpack-loader
django-oauth-toolkit==1.4.0
django-user-agents==0.4.0
djangorestframework==3.12.4
django-storages==1.11.1
djoser==2.1.0
edx-api-client==0.10.0
ipython
mitol-django-common~=1.2.0
mitol-django-mail~=2.2.0
newrelic
pyOpenSSL
psycopg2
pycountry==19.7.15
redis
requests
sentry-sdk
social-auth-app-django==4.0.0
user-util==0.1.5
ulid-py
uwsgi
wagtail>=2.0.0,<3.0.0
