django
celery==4.3.0
celery-redbeat==0.13.0
dj-database-url
django-anymail[mailgun]==6.1.0
django-hijack==2.1.10
django-hijack-admin==2.1.10
django-redis
django-robots
django-server-status
django-webpack-loader
ipython
mitol-django-common~=0.7
mitol-django-mail~=1.0.0
newrelic
pyOpenSSL
psycopg2
redis
requests
sentry-sdk
uwsgi
