black
bpython
codecov
ddt
django-debug-toolbar
factory_boy~=3.2
faker
freezegun==0.3.14
hypothesis==4.23.9
ipdb
isort
nplusone
pdbpp
pip-tools
pylint==2.6.0
pylint-django==2.4.4
pytest
pytest-cov
pytest-env==0.6.2
pytest-django
pytest-mock
pytest-lazy-fixture~=0.6.3
responses
semantic-version
wagtail-factories
mitol-django-openedx==1.0.0
