{% extends "learn_email_base.html" %}

{% block content %}
<!-- 1 Column Text + Button : BEGIN -->
  <tr>
      <td style="background-color: #ffffff;">
          <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
              <tr>
                  <td style="padding: 20px; font-family: sans-serif; font-size: 20px; line-height: 24px; color: #212326; font-weight: bold;">
                      You've been invited to learn with MIT.
                  </td>
              </tr>
              <tr>
                  <td style="padding: 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #212326;">
                      <p style="margin: 0 0 10px;"><strong>{{ organization_name }}</strong> has provided you with access to <strong>{{ contract_name }}</strong> on MIT Learn.</p>
                      <p style="margin: 20px 0 10px;">Enroll to access your courses and begin learning.</p>
                  </td>
              </tr>
              <tr>
                  <td style="padding: 0 20px 20px;">
                      <!-- Button : BEGIN -->
                      <table align="left" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: 0;">
                          <tr>
                              <td class="button-td button-td-primary" width="120" style="border-radius: 4px; background: #a31f34; width: 120px;">
                                   <a class="button-a button-a-primary" href="{{code_url}}" style="
              background: #a31f34;
              border: 1px solid #a31f34;
              font-family: 'Source Sans Pro', sans-serif;
              font-weight: 500;
              font-size: 14px;
              line-height: 14px;
              text-decoration: none;
              text-align: center;
              padding: 16px;
              color: #fff;
              display: block;
              width: 120px;
              box-sizing: border-box;
              border-radius: 4px;">Enroll</a>
                              </td>
                          </tr>
                      </table>
                      <!-- Button : END -->
                  </td>
              </tr>
              <tr>
                <td style="padding: 0 20px 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #212326;">
                    <p>If you're unable to use the button above, copy and paste this link into your browser:</p>
                    {{code_url}}
                </td>
              </tr>
              <tr>
                  <td style="padding: 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #212326;">
                      <p>Welcome to MIT Learn,</p>
                      <p><strong>MIT Learn Team</strong></p>
                  </td>
              </tr>

          </table>
      </td>
  </tr>
<!-- 1 Column Text + Button : END -->
{% endblock %}
