.auth-page {
  max-width: 650px;

  h1 {
    @include media-breakpoint-down(sm) {
      font-size: 30px;
    }

    font-size: 38px;
    margin: 0px;

    &:only-child {
      margin-bottom: 18px;
    }
  }

  b {
    font-weight: 600;
  }

  h4 {
    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }
}

.auth-card {
  @include media-breakpoint-down(sm) {
    padding: 20px;
  }

  background-color: $white;
  border-width: 0 0 3px 0;
  border-style: solid;
  border-bottom-color: $brand-button-bg;
  padding: 20px 35px 35px 35px;
  min-height: 400px;

  ul {
    padding-top: 5px;
    padding-left: 22px;
    letter-spacing: 0.55px;
    line-height: 19px;
    margin-bottom: 0;
    list-style: none;

    li {
      margin-bottom: 20px;
    }

    a {
      color: $footer-bg;
      text-decoration: underline;
    }
  }

  hr.hr-class-margin {
    margin-top: 5px;
    margin-bottom: 30px;
  }

}

.register-error-icon {
  margin: 0 auto 15px;

  background-image: url(/static/images/icon-warning.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
