.banners {
  position: relative;
  z-index: 1;

  // HACK: Using this rule to get around styling issues with <p> elements in the
  //       notification content (notification content in Wagtail is configured to be HTML,
  //       and Wagtail wraps content in a <p> tag by default when you use the editor).
  &.site-wide {
    p {
      margin: 0;
    }
  }

  // Django-rendered implementation
  .banner {
    background: $primary;
    text-align: center;
    color: white;
    height: 60px;
    padding: 15px 20px 15px 20px;
    background: linear-gradient(180deg, #A31F34 0%, #700934 100%);

    font-family: Inter;
    font-size: 18px;
    font-weight: 500;

    p a {
      color: white;
      text-decoration: underline;
      background-color: transparent;
    }

  }

  .close-banner {
    text-decoration: none;
    color: white;
    float: right;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      content: "cancel";
      font-family: Material Icons;
      font-size: 30px;
   }
 }
}
