#catalog-mobile-filter {
    background: var(--blue-dark, #03152D);
}

#catalog-page {
    background: var(--grey-lite, #F0F5F7);

    button {
        border: none;
        padding: 0;
        font: inherit;
        color: inherit;
        cursor: pointer;
    }

    #department-sidebar {
        width: inherit;
        height: fit-content;
        margin-top: 30px;
        padding: 15px;
        align-items: flex-start;
        border-radius: 5px;
        top: 100px;

        @include media-breakpoint-up(md) {
            background: #FFF;
            margin-left: 60px;
            width: 312px;
            position: sticky;
        }
    
        /* Dropshadow */
        box-shadow: 0px 2px 3px 0px rgba(18, 38, 49, 0.15);
    
        #department-sidebar-link-list {
            padding-left: 0;

            button {
                padding: 15px;
                text-align: left;
                width: 100%;
                font-size: 16px;
                align-self: stretch;
            }

            .sidebar-link {
                flex-direction: column;
                display: flex;
                gap: 10px;
                border-radius: 5px;
                line-height: normal;
            }
        
            .department-selected-link {
                background-color: var(--red, #A31F34);
                color: #FFF;
                font-style: normal;
                font-weight: 600;
                transition: color 300ms ease-in-out;
                transition: background-color 300ms ease-in-out;
            }
        
            .department-link {
                align-items: flex-start;
                font-weight: 400;
                background-color: none;
                color: var(--blue-dark, #03152D);
                transition: color 300ms ease-out;
                transition: background-color 300ms ease-out;

                &:hover, :focus {
                    background-color: var(--grey-lite, #F0F5F7);
                    color: var(--red, #A31F34);
                }

                @include media-breakpoint-down(md) {
                    color: var(--grey-lite, #F0F5F7);
                }
            }
        }
    }
}
#course-catalog-navigation {
    display: flex;

    @include media-breakpoint-down(md) {
        .slide-mobile-filter-overlay {
            transform: translateX(0%);
            transition: transform 500ms ease-in-out;
        }
    
        .hidden-mobile-filter-overlay {
            transform: translateX(-100%);
            transition: transform 500ms ease-in-out;
        }
    
        .mobile-filter-overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            background: var(--blue-dark, #03152D);
            flex-direction: column;
            align-items: flex-start;
            gap: 2px;
            flex: 1 0 0;
            z-index: 10;
        }
    }

    .container-fluid {
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        max-width: revert;

        .row {
            margin-right: 0;
        }
    }

    #tab-row {
        height: 70px;
        @include media-breakpoint-up(md) {
            margin-left: 0;
        }

        .col {
            padding-left: 0;
            padding-right: 0;
        }

        .catalog-count-animation {

            /* starting ENTER animation */
            .count-enter {
                right: 0;
                width: inherit;
                position: absolute;
                margin-right: 64px;
                opacity: 0;
            }
            
            /* ending ENTER animation */
            .count-enter-active {
                opacity: 1;
                transition: opacity 300ms ease-in;
            }
            
            /* starting EXIT animation */
            .count-exit {
                right: 0;
                width: inherit;
                position: absolute;
                margin-right: 64px;
                opacity: 1;
            }
    
            /* ending ENTER animation */
            .count-exit-active {
                opacity: 0;
                transition: opacity 300ms ease-in;
            }
    
        }

        .catalog-page-item-count {
            color: var(--blue-dark, #03152D);
            text-align: right;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-right: 64px;
            margin-top: 40px;
            padding-right: 0;
            right: 0;
            width: inherit;
        }
    
        #tabs {
            align-items: flex-start;
            margin-left: 24px;
            padding-top: 30px;
            margin-right: 24px;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            flex-direction: row;
            flex-wrap: nowrap;

            @include media-breakpoint-up(md) {
                gap: 20px;
            }
        
            .selected-tab {
                display: flex;
                padding: 10px;
                align-items: flex-start;
                border-bottom: 2px solid #A31F34;
                color: var(--blue-dark, #03152D);
                -webkit-transition-timing-function: ease-out;
                -webkit-transition: 300ms;
                transition-timing-function: ease-out;
                transition: 300ms;
                justify-content: center;
            }
            
            .unselected-tab {
                display: flex;
                padding: 10px;
                align-items: flex-start;
                color: var(--grey-secoundary, #8A8B8C);
                -webkit-transition-timing-function: ease-out;
                -webkit-transition: 300ms;
                transition-timing-function: ease-out;
                transition: 300ms;
                border-bottom: 2px solid var(--border-grey, #DFE5EC);
                justify-content: center;
            }
        }
    }

    .catalog-animation {

        /* starting ENTER animation */
        .messageout-enter {
            position: absolute;
            opacity: 0;
            @include media-breakpoint-down(sm) {
                width: -moz-available;          /* WebKit-based browsers will ignore this. */
                width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
              }
            width: inherit;
        }
        
        /* ending ENTER animation */
        .messageout-enter-active {
            position: absolute;
            opacity: 1;
            @include media-breakpoint-down(sm) {
                width: -moz-available;          /* WebKit-based browsers will ignore this. */
                width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
              }
            width: inherit;
            transition: opacity 300ms ease-in-out;

        }
        
        /* starting EXIT animation */
        .messageout-exit {
            position: absolute;
            opacity: 1;
            @include media-breakpoint-down(sm) {
                width: -moz-available;          /* WebKit-based browsers will ignore this. */
                width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
              }
            width: inherit;
        }

        /* ending ENTER animation */
        .messageout-exit-active {
            position: absolute;
            opacity: 0;
            transition: opacity 300ms ease-in-out;

            @include media-breakpoint-down(sm) {
                width: -moz-available;          /* WebKit-based browsers will ignore this. */
                width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
              }
        }

    }

    #catalog-grid {
        display: flex;
        align-items: flex-start;
        margin-top: 20px;
        margin-left: 24px;
        padding-left: 0;
        margin-right: 24px;
        gap: 24px;

        a {
            text-decoration: none;
            padding-left: inherit;
            padding-right: inherit;
            width: 312px;
        }

        .catalog-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 5px;
            border: 1px solid var(--background-grey, #F0F5F7);
            background: #FFF;
            padding: 0;
            flex: none;
            
            /* Dropshadow */
            box-shadow: 0px 2px 3px 0px rgba(18, 38, 49, 0.15);

            .program-image-and-badge {
                display: flex;
                position: relative;
                justify-content: center;
                height: 142px;
                width: 100%;
            }

            img {
                width: 100%;
                height: 142px;
                border-radius: 5px 5px 0px 0px;
                background: rgba(0, 0, 0, 0.20);
            }

            .program-type-badge {
                display: inline-flex;
                padding: 8px 15px;
                align-items: flex-start;
                border-radius: 0px 3px 0px 0px;
                background: var(--blue-dark, #03152D);
                position: absolute;
                left: 0;
                bottom: 0px;
                color: #FFF;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .catalog-item-description {
                display: flex;
                padding: 15px;
                flex-direction: column;
                align-items: flex-start;
                gap: 15px;
                align-self: stretch;

                .start-date-description {
                    align-self: stretch;
                    overflow: hidden;
                    color: var(--grey-text, #6F7175);
                    text-overflow: ellipsis;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .item-title {
                    height: 36px;
                    align-self: stretch;
                    color: rgba(3, 21, 45, 0.85);
                    /* Add elipses after 2 lines of title text */
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    
                    /* CardTitle */
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 18px; /* 128.571% */
                }
            }
        }
    }

    button {
        background: none;
    }

}
#catalog-title {
    display: flex;
    padding: 30px 60px;
    z-index: 100;
    justify-content: center;
    align-items: flex-start;
    background: var(--blue-dark, #03152D);
    box-shadow: 0px 15px 25px 0px rgba(3, 21, 45, 0.25);
    position: sticky;
    top: 0;

    @include media-breakpoint-down(sm) {
        padding: 20px 0px;
      }
    h2 {
        overflow: hidden;
        color: #FFF;
        text-align: center;
        text-overflow: ellipsis;
        /* H3 */
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
    }

    #mobile-catalog-title {
        button {
            width: 24px;
            height: 24px;
            position: absolute;
            left: 20px;
            background: url("#{$static-path}/images/filter_list_alt.svg") no-repeat;
        }
    }
}
