// sass-lint:disable mixins-before-declarations
body {
  font-size: 16px;
}

h1 {
  font-size: 38px;
  line-height: 38px;
  margin: 0 0 13px;
  font-weight: 700;

  @include media-breakpoint-up(md) {
    font-size: 38px;
    line-height: 52px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 24px;
    line-height: 28px;
  }

}

h2 {
  font-size: 26px;
  font-weight: 600;
  line-height: 28px;
  margin: 0 0 18px;

  @include media-breakpoint-down(sm) {
    font-size: 18px;
    line-height: 22px;
  }
}

h3 {
  font-size: 26px;
  line-height: 26px;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

.form-error {
  color: $primary;
}

.align-text-right {
  text-align: right;
}

.gray-text {
  color: $gray;
}

.light-gray-text {
  color: $label-subtitle;
}

.btn-light-blue {
  background-color: $light-blue !important;
  border-color: $light-blue !important;
  font-size: 20px;
}

.btn-primary {
  color: white;
  font-size: 18px;
  padding: 11px 40px;
  border-radius: 4px;
  border-width: 1px;
  transition: .25s !important;
  font-weight: 600;
  background-color: $brand-button-bg;

  &:hover {
    opacity: 1;
    border: 1px solid $brand-darker-bg;
	  color: $brand-darker-bg !important;
	  background: linear-gradient(174deg, $tile-background, $tile-background) !important;
  }

  &.large {
    font-size: 20px;
    padding: 17px 50px;
  }

  &.btn-sm {
    font-size: 14px;
    padding: 5px 20px;
  }

  &.highlight {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    padding: 18px 60px;
    text-decoration: none;
    transition: linear 0.4s;

    &:hover {
      opacity: 1;
    }
  }

  &.outline {
    background-color: #ffffff;
    color: $brand-lighter-bg;
    border: 2px solid $brand-lighter-bg;
    background: linear-gradient(174deg, $tile-background, $tile-background) !important;

    &:hover {
      opacity: 1;
    }
  }
}

a.btn.disabled {
  color: grey;
  border: 2px solid grey;
}

.btn-denim-blue {
  background-color: $denim-blue;
  border-color: $denim-blue;
  color: white;

  &:hover {
    color: white !important;
  }
}

button.unstyled,
button.btn-secondary.unstyled {
  border: none;
  background-color: inherit;
  color: inherit;
  padding: 0;

  &:hover, &:active, &:not(:disabled):not(.disabled):active {
    background-color: inherit;
    color: inherit;
  }
}

.link-black {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

.card {
  background-color: #ffffff;
  border: 0;
  border-radius: 4px !important;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 12%);
}

.card-shadow {
  -webkit-box-shadow: -4px 5px 8px 0px rgba(204,204,204,0.8); // sass-lint:disable-line no-vendor-prefixes
  -moz-box-shadow: -4px 5px 8px 0px rgba(204,204,204,0.8); // sass-lint:disable-line no-vendor-prefixes
  box-shadow: -4px 5px 8px 0px rgba(204,204,204,0.8);
}

.card-listing {
  padding: 0;
  margin: 0 -22px;
  list-style: none;
  letter-spacing: -0.32em;

  li {
    letter-spacing: normal;
    display: inline-block;
    vertical-align: top;
  }
}

.highlight-card {
  background: white;
  border-bottom: 3px solid transparent;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.23);
}

.profile {
  background: url(/static/images/user.svg) left no-repeat;
  height: 120px;
  width: 120px;
}

.dropdown-menu {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5), 0 13px 11px 8px rgba(0,0,0,0.12);
  border-color: $white-smoke;
  border-radius: 0;
  padding: 0;

  .dropdown-item {
    display: block;
    padding: .75rem 1rem;
    font-size: 14px;
    line-height: 14px;

    &:active{
      background-color: white;
    }

    &:hover{
      color: $brand-darker-bg;
      background-color: white;
    }


    a, button.unstyled {
      display: block;
      color: $black;
      font-weight: 400;
      font-size: 14px;
      text-align: left;
      text-decoration: none;

      &:hover {
        color: $primary;
      }
    }
  }
}

.link-text {
  color: $black;
  text-decoration: underline;
  box-shadow: none;
  cursor: pointer;
}

.flexible-price-certificate-btn {
  float: left;
  margin-top: 28px;
  background-color: #A41E34;
  margin-left: 15px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 100px;
  }
}

.form-group {
  padding-bottom: 1rem;

  label {
    margin-bottom: 0.5rem;
  }
  .form-check-label {
    margin-bottom: 0;
  }
}
.form-control {
  padding: .375rem 0.75rem;
}

.display-none {
  display: none !important;
}

.djhj {
  position: relative !important;
  top: 0;

  .djhj-message, .djhj-actions {
    width: fit-content;
  }

  .djhj-notification {
    max-width: unset;
    background: $navy-blue;
    margin: 0;
  }
}

.modal-dialog {
  font-family: Inter;
  .modal-header {
    border-bottom: none;
    .btn-close {
      border-radius: 100px;
      color: $home-page-header-blue;
      background-color: $home-page-grey-lite;
      opacity: 0.7;
      font-size: 13px;
    }
    .btn-close:hover {
      color: $brand-darker-bg;
      opacity: 1;
    }
  }
  .modal-content {
    padding: 5px 14px;
    font-size: 15px;
}
  .modal-title {
    font-family: Poppins, sans-serif;
    font-weight: 700;
  }

  }
  .modal-subheader {
    margin-top: -20px;
  }
  .float-container {
    float: right;
    margin-top: 30px;

    button {
      margin-left: 16px;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
      text-align: center;
      padding: 10px 25px;
    }

    button.cancel {
      background-color: inherit;
      color: inherit;
    }
  }
  input[type=checkbox] {
    accent-color: $brand-darker-bg;
    width: 20px;
    height: 20px;
  }
  label, input[type=checkbox] {
    vertical-align: middle;
  }
  label {
    font-size: 14px;
    margin-left: 10px;
  }
  .callout {
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 15px;
  }

button.btn.btn-gradient-red-to-blue, a.btn.btn-gradient-red-to-blue {
    color: white;
    border: 1px solid $brand-darker-bg;
    background: $brand-darker-bg !important;
    transition: 0.25s;
}

button.btn.btn-gradient-red-to-blue:hover, a.btn.btn-gradient-red-to-blue:hover, button.btn.btn-gradient-white-to-blue:hover, a.btn.btn-gradient-white-to-blue:hover {
    border-color: $home-page-header-blue;
    background: $home-page-header-blue !important;
    color: white !important;
}

button.btn.btn-gradient-white-to-blue, a.btn.btn-gradient-white-to-blue {
    color: $home-page-header-blue;
    border: 1px solid $home-page-border-grey;
    background: white;
    transition: 0.25s;
}

.callout {
    flex-wrap: nowrap;
    padding: 15px;
    i.warning {
      font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
      color: #B87A00;
      padding-right: 10px;
      width: fit-content;
      padding-left: 0;
    }
    p {
      font-family: Inter, sans-serif;
      font-size: 13px;
      font-weight: 400;
      line-height: 15.73px;
      text-align: left;
      color: $home-page-header-blue;
      margin: 0;
      flex-shrink: 1;
    }
  }
  .callout-warning {
    border: 1px solid rgba(255, 171, 0, 0.30);
    border-left: 2px solid $warning;
    background: #FFF3CC;
  }


