// sass-lint:disable mixins-before-declarations

$featureImgWidth: 202px;
$featureImgHeight: 143px;
$featureImgMobileWidth: 345px;
$featureImgMobileHeight: 223px;
$sidenav-bg: #f5f5f5;
$sidenav-separator: rgba(255, 255, 255, 0.2);

$program-badge-fg: #305987;
$program-badge-bg: #DBF2F3;

.enrolled-items {
  .card {
    display: flex;

    &.no-enrollments {
      flex-direction: column;

      a {
        color: black;
        text-decoration: underline;
      }

      p {
        margin: 0;
      }
    }

    h2 {
      font-size: 26px;
    }

    h2 a {
      color: black;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }
    }

    @include media-breakpoint-up(md) {
      .row {
        height: auto;

        > * {
          height: 100%;
        }
      }
    }

    .img-container {
      @include media-breakpoint-down(sm)  {
        width: 100%;
        height: $featureImgMobileHeight;
      }

      width: $featureImgWidth;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }

    .detail {
      color: $gray;

      strong {
        color: $primary;
      }
    }
  }

  button.dot-menu {
    // Setting height so the button element doesn't expand to cover the full height of the row
    height: $material-icon-height;
  }

  .unenroll-denied-msg .tooltip {
    width: 250px;
  }

  .enrollment-mode-container {
    span.badge {
      font-weight: normal;
      font-size: .85rem;
      padding: 0.35rem !important;
      margin-bottom: .25rem !important;
      margin-right: .5rem;
    }
    span.badge.badge-red {
        color: $red-darker;
        background-color: #FAE8E8;
      }

    span.badge.badge-green {
        color: $green-darker;
        background-color: #DBF3E9;
      }

    span.badge.badge-program {
      color: $program-badge-fg;
      background-color: $program-badge-bg;
    }
  }

  .upgrade-item-description {
    background-color: #F6F6F6;
    padding: 15px;
    width: 100%;
    flex-direction: row;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.24), inset -1px 0 0 0 rgba(0,0,0,0.07), inset 1px 0 0 0 rgba(0,0,0,0.07);
  }

  .enrollment-extra-links {
    margin-top: .5rem;
    font-size: smaller;

    a {
      text-decoration: underline;
      color: $light-gray;
      margin: auto 0;
    }

    a:hover {
      color: black;
      text-decoration: none;
    }

    a.view-certificate {
      margin: auto 5px;
    }

    form button.btn-primary {
      font-size: 14px;
      padding: 9px 18px;
    }

    .pricing-links {
      display: flex;
      margin-left: auto;

      form button.btn-primary {
        font-size: 14px;
        padding: 0 18px;
        margin-top: 0;
        font-weight: 500;
        height: 36px;
        @include media-breakpoint-down(sm) {
          height: auto;
        }
      }

      .financial-assist-link {
        margin: auto 23px auto auto;
      }
    }
  }
}

.dashboard h1 {
  margin-bottom: 38px;
  font-size: 38px;

  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }
}

.dashboard button.dash-tab {
  border: 0;
  font-weight: bold;
  font-size: 75%;
  margin-right: 3em;
  background: transparent;
  padding-left: 0;
  padding-right: 0;

  @include media-breakpoint-down(sm) {
    margin-right: 1em;
  }
}

.dashboard button.dash-tab.active {
  border-bottom: 3px solid $primary !important;
}

.modal-title {
  width: 500px;
}

.nav-drawer {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  right: -100%;
  top: 0;
  background-color: $sidenav-bg;
  transition: right 0.2s ease-in-out ;
  padding: 15px 36px;
  overflow-y: scroll;
  left: 8px;

  @media only screen and (min-width: 1025px) {
    width: 55%;
    right: 0;
    left: unset;
  }

  &.open {
    box-shadow: 0 3px 0 8px rgba(0,0,0,.2);
    display: block;
  }

  .row.chrome {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    
    button.close {
      position: absolute;
      top: 20px;
      right: 30px;
      float: none !important;
    }
  }

  &.closed {
    display: none;
  }
}

.drawer-background {
  display: none;
  
  &.open {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;

    background-color: rgba(0,0,0,.2);
  }
}

.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.re-order {
  order: -2;
}
