// sass-lint:disable mixins-before-declarations

$featureImgWidth: 202px;
$featureImgHeight: 143px;
$featureImgMobileWidth: 345px;
$featureImgMobileHeight: 223px;

.enrolled-items {
  .card {
    display: flex;
    flex-direction: row;

    &.no-enrollments {
      flex-direction: column;

      a {
        color: black;
        text-decoration: underline;
      }

      p {
        margin: 0;
      }
    }

    h2 a {
      text-decoration: underline;
    }

    @include media-breakpoint-up(md) {
      .row {
        height: auto;

        > * {
          height: 100%;
        }
      }
    }

    .img-container {
      @include media-breakpoint-down(sm)  {
        width: 100%;
        height: $featureImgMobileHeight;
      }

      width: $featureImgWidth;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }

    .detail {
      color: $gray;

      strong {
        color: $primary;
      }
    }
  }

  button.dot-menu {
    // Setting height so the button element doesn't expand to cover the full height of the row
    height: $material-icon-height;
  }

  .unenroll-denied-msg .tooltip {
    width: 250px;
  }

  .enrollment-mode-container {
    span.badge {
      font-weight: normal;
      padding: .20rem;
      margin-bottom: .5rem;
    }
    span.badge.badge-red {
        color: $red;
        background-color: #FAE8E8;
      }

    span.badge.badge-green {
        color: $green;
        background-color: #DBF3E9;
      }
  }

  .enrollment-extra-links {
    margin-top: .5rem;
    font-size: smaller;

    a {
      text-decoration: underline;
      color: $light-gray;
      margin: auto 0;
    }

    form button.btn-primary {
      font-size: 14px;
      padding: 9px 18px;
    }

    .pricing-links {
      display: flex;
      margin-left: auto;

      form button.btn-primary {
        font-size: 14px;
        padding: 0 18px;
        margin-top: 0;
        font-weight: 500;
        height: 36px;
        @include media-breakpoint-down(sm) {
          height: auto;
        }
      }

      .financial-assist-link {
        margin: auto 23px auto auto;
      }
    }
  }
}

.dashboard h1 {
  margin-bottom: 38px;

  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }
}

.modal-title {
  width: 500px;
}
