// sass-lint:disable mixins-before-declarations

.hero-container {
  min-height: 400px;
  padding-bottom: 50px;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: 50% 50%;

  @include media-breakpoint-down(sm) {
    min-height: 210px;
    padding-bottom: 28px;
  }
}
