.learner-record-page .std-card-body {
  .badge {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 10px 6px;
    border-radius: 3px;
    line-height: 12px;
  }

  .learner-record-header {
    margin-bottom: 30px;
  }

  #learner-record-school-name {
    font-size: 16px;

    div, h1 {
      margin-bottom: 15px;
    }

    div.learner-record-inst-logo {
      padding: 20px 40px;
      border: 1px solid $home-page-border-grey;
      border-radius: 5px;
      align-self: start;
      align-items: center;
      margin: 0;
    }

    img {
      width: 200px;
      height: auto;
    }
  }

  div.learner-record-user-profile {
    line-height: 30px !important;
  
    h2.learner-record-user-name {
      font-size: 22px !important;
      font-weight: 700;
      margin-bottom: 5px;
    }
  }  
}

.badge.badge-partially-completed {
  color: #4D3507;
  background: #FBECD0;
}

.badge.badge-completed {
  color: white;
  background-color: #556b2f;
}


div.learner-record {
  h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.1;
  }
}

table.learner-record-table {
  width: 100%;

  thead {
    border-bottom: 2px solid $helptext-grey;
  }

  tbody {
    tr {
      border-bottom: 1px solid $home-page-border-grey;

      td {
        align-content: center;
      }
    }
  }

  th {
    vertical-align: bottom;
  }

  td, th {
    div {
      margin: 20px 10px 20px 0 !important;

      span.badge.bg-danger {
        color: #5F071C;
        background: #FBD0DA !important;
      }

      span.badge.bg-success {
        background: #D2FBD0 !important;
        color: #0D5F07; 
      }
    }

    &.learner-record-table-course-name {
      width: 47%;

      div {
        margin-left: 10px !important;
      }
    }

    &.learner-record-table-course-id {
      width: 17%;
    }

    &.learner-record-table-highest-grade  {
      width: 11%;
    }

    &.learner-record-table-grade {
      width: 15%;
    }

    &.learner-record-table-status {
      width: 10%;
    }
  }
}

div.learner-record-sharing-controls {
  button.btn {
    padding: 8px 10px !important;
    font-weight: 400;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    border: none;
    text-align: center;
    border-radius: 0.25rem;
    font-size: 15px;
    @media (min-width:960px) { 
      line-height: 35px;
    }
  }

  button:not(:first-child) {
    margin-left: .25em;
  }
}

#sharing-link-modal button.btn, #partner-school-modal button.btn {
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem;
}
