#learner-record-school-name img {
  width: 200px;
}

.badge.badge-partially-completed {
  color: white;
  background-color: #f0ad4e;
}

.badge.badge-completed {
  color: white;
  background-color: #556b2f;
}

span.badge-learner-completion {
  color: white;
  background-color: #f0ad4e;
  font-size: 14px;
  font-weight: normal;
}

div.learner-record-user-profile {
  margin-top: 1em;

  span.learner-record-user-name {
    font-size: 150%;
  }
}

div.learner-record {
  @media (min-width:960px) { 
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    padding: 30px;
    margin-top: 1em;
  }
  
  h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.1;
  }
}

table.learner-record-table {
  margin-top: .5em;
  width: 100%;

  tr:first-child {
    width: 45%;
  }

  td, th {
    padding: 10px;
    vertical-align: bottom;
  }

  thead {
    border-bottom: 1px solid grey;
  }
}

div.learner-record-sharing-controls {
  button.btn {
    padding: 8px 10px !important;
    font-weight: 400;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    border: none;
    text-align: center;
    border-radius: 0.25rem;
    font-size: 15px;
    @media (min-width:960px) { 
      line-height: 35px;
    }
  }

  button:not(:first-child) {
    margin-left: .25em;
  }
}

#sharing-link-modal button.btn, #partner-school-modal button.btn {
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem;
}
