// sass-lint:disable mixins-before-declarations

.product-page {

  @include media-breakpoint-down(sm) {
    h2 {
      font-size: 20px;
      line-height: 20px;
    }

    h3 {
      font-size: 20px;
      line-height: 26px;
    }
  }
}

.upgrade-enrollment-modal { // This should be renamed as it's used across different modals
  max-width: 550px;

  a {
    text-decoration: underline;
  }

  .cancel-link {
    margin: 20px 0;
  }

  .enroll-now-free {
    text-decoration: underline;
    box-shadow: none;
    font-weight: bold;
    border: none;
  }

  form {
    margin-bottom: 20px;
  }

  .cancel-link button {
    text-align: left;
  }
}

.financial-assistance-link {
  height: 22px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 0;

  &:hover{
    text-decoration: none !important;
  }

  a {
    color: black;

    &:hover{
      color: $brand-darker-bg;
      text-decoration: none !important;
    }
  }
}

.popover-header {
  text-align: center;
  background: $white;
}

.date-link {
  color: $link-blue !important;
  text-decoration: underline;
  background-color: transparent;
  border: none;
}
