// sass-lint:disable mixins-before-declarations

.product-page {
  position: relative;

  @include media-breakpoint-down(sm) {
    h2 {
      font-size: 20px;
      line-height: 20px;
    }

    h3 {
      font-size: 20px;
      line-height: 26px;
    }
  }

  .container {
    max-width: 1260px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .btn-primary.highlight {
    @include media-breakpoint-down(xs) {
      display: block;
      width: 100%;
    }
  }

  .hero-block {
    font-size: 20px;
    line-height: 2rem;
    color: $black;
    padding: 20px 0;

    @include media-breakpoint-up(md) {
      font-size: 24px;
      line-height: 36px;
    }

    @include media-breakpoint-down(md) {
      padding: 0;
    }

    @include media-breakpoint-up(lg) {
      padding: 38px 0 5px;
    }

    .content-row {
      @include media-breakpoint-up(lg) {
        display: flex;
        flex-flow: row wrap;
        margin: 0 -15px;
      }

      @include media-breakpoint-down(md) {
        display: flex;
        flex-flow: column-reverse;
      }

      .content-col {
        padding: 0 0 26px;

        @include media-breakpoint-up(lg) {
          width: calc(100% - 497px);
          padding: 0 15px;
          box-sizing: border-box;
        }

        &:only-child {
          width: 100%;
        }

        &.hero-media {
          padding-bottom: 0;

          @include media-breakpoint-down(md) {
            margin: 0px -15px;
          }

          @include media-breakpoint-up(lg) {
            width: 497px;
            padding: 6px 15px;
            flex-shrink: 0;
          }

          img, .video-js {
            width: 100%;
            height: 217px;
            object-fit: cover;

            @include media-breakpoint-up(md) {
              height: 263px;
            }
          }
        }

        .text {
          padding-top: 7px !important;

          @include media-breakpoint-down(md) {
            padding-top: 25px !important;
          }
        }
      }
    }

    .video-js {
      .vjs-big-play-button {
        background: black;
        opacity: 0.8;
        width: 64px;
        height: 64px;
        border: none;
        border-radius: 50%;

        &:hover {
          opacity: 0.6;
        }
      }

      .vjs-poster {
        height: fit-content;
      }
    }

    .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
      top: 0.3em;
    }

    .vjs-youtube {

      .vjs-big-play-button {
        display: none;
      }
    }

    .video-holder {
      background: $sirocco;
      margin-top: 10px;
      min-height: 200px;

      img {
        display: block;
        width: 100%;
      }
    }

    .text-info {
      @include media-breakpoint-up(lg) {
        max-width: 625px;
      }
    }

    p {
      margin: 0 0 30px 0;
    }
  }

  .info-block {
    padding-bottom: 25px;
    font-size: 14px;
    line-height: 16px;
    color: $black;

    @include media-breakpoint-up(lg) {
      padding: 30px 0;
    }

    .stats-row {
      display: flex;
      flex-flow: row wrap;
      margin: 0 -8px;
      align-items: baseline;

      @include media-breakpoint-up(xl) {
        margin: 0 -18px;
      }

      .stat-col {
        margin: 0 8px 16px;
        background: $white;
        border-radius: 3px;
        overflow: hidden;
        text-align: center;
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        width: calc(50% - 16px);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);

        @include media-breakpoint-up(lg) {
          width: auto;
        }

        @include media-breakpoint-up(xl) {
          margin: 0 18px;
          width: 180px;
          flex-grow: inherit;
        }

        &.small {
          font-size: 14px;
          @include media-breakpoint-up(xl) {
            width: 140px;
          }
        }

        &.large {
          flex-grow: 1;
          text-align: left;
          }
        }

      .text {
        padding: 14px 20px;
        width: 100%;
        flex-grow: 1;
        display: inline-block;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        font-size: 13px;

        p {
          margin: 0;
        }

        a:link {
          color: $link-blue;
          text-decoration: underline;
        }
      }

      .more-dates {
        padding-bottom: 6px;
        width: 100%;
        font-size: 12px;

        .dates-tooltip {
          font-weight: bolder;
          color: $link-blue !important;
          text-decoration: underline;
          background-color: transparent;
          border: none;
        }
      }

      .date-links-text {
        padding-bottom: 7px !important;
      }

      .title {
        background-color: $sirocco;
        font-weight: 500;
        color: $tile-background;
        text-align: center;
        padding: 9px 8px;
        width: 100%;
        box-sizing: border-box;
        height: 34px;
        text-transform: uppercase;
      }
    }

    a {
      color: $black;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .text-block {
    color: $black;
    padding: 0;

    @include media-breakpoint-up(lg) {
      padding: 25px 0 10px;
    }

    p {
      margin: 0 0 25px;
      line-height: 28px;
    }

    .text-holder {
      max-width: 1020px;

      a {
        font-weight: 700;
        color: $black;
      }

      .content-data {
        @include media-breakpoint-up(lg) {
          padding-bottom: 20px;
        }
      }

    }

    .more {
      font-weight: 700;
      color: $black;
    }

    ul:not(class) {
      margin: 0 0 6px;
      padding: 0;
      list-style: none;

      li {
        position: relative;
        padding: 0 0 0 18px;

        &:before {
          position: absolute;
          left: 0;
          top: 11px;
          content: '';
          background: $black;
          width: 6px;
          height: 6px;
          border-radius: 100%;
        }
      }
    }

    #upsellCard {
      width: 497px;
      padding: 0 24px 24px 24px;
      flex-shrink: 0;
      float: right;

      @include media-breakpoint-down(lg) {
        width: 100%;
        padding: 0 12px 12px 12px;
      }

      div.card {
        padding: 24px;
      }

      p {
        line-height: 24px;
      }

      div.upsell-header {
        margin-left: 0;
        margin-right: 0;

        span.badge {
          font-weight: normal;
          font-size: .85rem;
          margin-bottom: .25rem !important;
          padding: 0.35rem !important;
        }

        span.badge-danger {
          background-color: #fae8e8;
          color: #b43e3e;
        }
      }
      form {
        margin-bottom: 20px;
      }
    }
  }

  .about-text {
    padding-bottom: 37px;

    @include media-breakpoint-down(sm) {
      padding-bottom: 20px;
    }
  }

  .ofac-message {
    clear: both;
  }
}

.upgrade-enrollment-modal {
  max-width: 550px;

  .modal-content {
    padding: 5px 12px;
  }

  .modal-header {
    font-weight: 600;
    font-size: large;
    border-bottom: none;
    padding-bottom: 0;

    h5 {
      font-size: 30px;
    }

    span {
      font-size: 45px;
      font-weight: 200;
    }
  }

  a {
    text-decoration: underline;
  }

  .modal-subheader {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .cancel-link, .faq-link {
    text-align: center !important;
    margin: 20px 0;
  }

  .faq-link a {
    color: black;
    font-weight: bold;
  }

  .faq-link a:visited {
    color: rgba(0, 0, 0, 0.14);
  }

  .upgrade-icon {
    background: url("https://via.placeholder.com/150 ") left no-repeat;
    height: 70px;
  }

  .enroll-now-free {
    text-decoration: underline;
    box-shadow: none;
    font-weight: bold;
  }
  form {
    margin-bottom: 20px;
  }
}

.financial-assistance-link {
  height: 22px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  text-align: right;
  text-decoration: underline;
  margin-bottom: 0;

  &:hover{
    text-decoration: none !important;
  }

  a {
    color: black;

    &:hover{
      color: $brand-darker-bg;
      text-decoration: none !important;
    }
  }
}

.popover-header {
  text-align: center;
  background: $white;
}

.date-link {
  color: $link-blue !important;
  text-decoration: underline;
  background-color: transparent;
  border: none;
}
