// sass-lint:disable mixins-before-declarations

.financial-assistance-link {
  height: 22px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 0;

  &:hover{
    text-decoration: none !important;
  }

  a {
    color: black;

    &:hover{
      color: $brand-darker-bg;
      text-decoration: none !important;
    }
  }
}

.popover-header {
  text-align: center;
  background: $white;
}

.date-link {
  color: $link-blue !important;
  text-decoration: underline;
  background-color: transparent;
  border: none;
}
