// sass-lint:disable mixins-before-declarations

// old design
header.site-header {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  background-color: $white;

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0;

    @include media-breakpoint-down(md) {
      position: static;
    }
  }

  .nowrap {
    flex-wrap: unset;
  }
}

// old design
.full-screen-menu {
  display: block;

  @include media-breakpoint-down(md) {
    display: none;
  }

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      font-weight: 600;
      padding: 0 0 0 25px;

      a {
        color: black;
        text-decoration: none;
        display: block;

        &:hover {
          color: $primary;
        }

        &.simple {
          padding: 5px 16px;
        }

        &.button {
          transition: .25s;

          @include media-breakpoint-up(md) {
            background: $primary;
            color: white;
            border-radius: 3px;
            box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.57);

            &:hover {
              background: black;
            }
          }
        }
      }
    }
  }
}

.mobile-menu {
  display: none;

  @include media-breakpoint-down(md) {
    display: block;
  }

  li[data-bs-target="#nav"] {
    display: block;
    padding: 10px 0;
    margin: 0 auto;
    max-width: 170px;

    a {
      color: white;
      font-size: 18px;
      font-weight: 600;
      line-height: 25px;
      padding: 0;
      margin-top: 5px;

      &:hover {
        color: white;
      }
    }
  }
}

.user-menu-overlay {
  display: none;
  margin: 0;

  @include media-breakpoint-up(md) {
    display: block;

    &.collapse {
      display: flex;
    }
  }

  @include media-breakpoint-down(md) {
    position: absolute;
    padding-top: 70px;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 100%;
    top: 50px;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.91);

    &.collapsing,
    &.show {
      display: block;
      transition: none;
    }
  }

}

.site-logo {
  width: 65px;
  height: 35px;
  @include media-breakpoint-down(sm) {
    width: 46px;
    height: 25px;
  }
}

// old design
.navbar-brand {
  display: inline-flex;
  align-items: center;
  padding: 0;

  .mitx-online-link {
    font-size: 24px;
    color: black;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0;

    @include media-breakpoint-down(md) {
      font-size: 18px;
      line-height: 18px;
    }
  }

  .logo-link {
    @include media-breakpoint-down(md) {
      display: inline-flex;
    }
  }

  .divider-large {
    width: 1px;
    height: 48px;
    margin: 0 15px;
    background: black;
    @include media-breakpoint-down(md) {
      height: 34px;
      margin: 0 8px;
    }
  }
}

.navbar-toggler {
  position: relative;
  width: 24px;
  height: 24px;
  border: none;

  ul {
    cursor: pointer;
  }

  .bar {
    // This series of .bar elements creates a hamburger menu that tranforms into an "X" when clicked
    list-style: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    transition: .5s;
    background: black;
    transform: translateY(-50%) rotate(0);
    opacity: 1;
  }

  .bar:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  .bar:nth-child(2) {
    opacity: 0;
    margin-top: 1px;
  }

  .bar:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  &:focus {
    box-shadow: none;
  }

  &.collapsed {
    .bar:nth-child(1) {
      top: 20%;
      transform: none;
    }

    .bar:nth-child(2) {
      top: 50%;
      opacity: 1;
    }

    .bar:nth-child(3) {
      top: 80%;
      transform: none;
    }
  }
}

.svg-site-logo {
  height: 35px !important;
  width: 65px !important;

  @include media-breakpoint-down(sm) {
    width: 46px !important;
    height: 25px !important;
  }

  g {
    transform: scale(0.2);

    @include media-breakpoint-down(sm) {
      transform: scale(0.15);
    }
  }
}

// New Design
header.site-header.new-design {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  background-color: $white;

  .navbar.top-navbar {
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;

    @include media-breakpoint-down(md) {
      position: static;
      padding: 15px 15px;
    }
  }

  .nowrap {
    flex-wrap: unset;
  }
}

.full-screen-top-menu {
  display: block;
  font-size: 14px;
  line-height: 21px;
  border-left: 1px solid $home-page-border-grey;
  padding-left: 15px;

  @include media-breakpoint-down(md) {
    display: none;
  }

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      font-weight: 600;
      padding: 0 0 0 8px;

      a {
        color: black;
        text-decoration: none;
        display: block;


        &:hover {
          color: $primary;
        }

        &.simple {
          display: inline-flex;
          padding: 12px 20px;
          align-items: flex-start;
          border-radius: 5px;
          border: 1px solid var(--BorderGrey, #DFE5EC);
        }

        &.button {
          transition: .25s;

          @include media-breakpoint-up(md) {
            background: $primary;
            color: white;
            box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.57);

            &:hover {
              background: black;
            }
          }
        }
      }
    }
  }
}

.top-branding {
  display: inline-flex;
  align-items: center;
  padding: 0;

  .mitx-online-link {
    color: var(--Blue-Dark, #03152D);
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;

    @include media-breakpoint-down(md) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .logo-link {
    @include media-breakpoint-down(md) {
      display: inline-flex;
    }
  }

  .divider-grey {
    width: 1px;
    height: 23px;
    margin: 0 15px;
    opacity: 0.3;
    background: #888C8D;
    @include media-breakpoint-down(md) {
      height: 23px;
      margin: 0 10px;
    }
  }
}

.mobile-auth-buttons {
  display: none;

  @include media-breakpoint-down(md) {
    display: block;
  }

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 12px;
      font-weight: 600;
      padding: 0 0 0 8px;

      a {
        color: black;
        text-decoration: none;
        display: block;
        border: 1px solid var(--BorderGrey, #DFE5EC);


        &:hover {
          color: $primary;
        }

        &.simple {
          display: inline-flex;
          padding: 8px 15px;
          align-items: flex-start;
          border-radius: 3px;
        }

        &.button {
          transition: .25s;
          background: #a31f34;
          color: white;

          @include media-breakpoint-up(md) {
            background: $primary;
            color: white;
            box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.57);

            &:hover {
              background: black;
            }
          }
        }
      }
    }
  }

}
