$static-path: '/static';

$material-icon-height: 24px;

$primary: #a31f34;
$gray: #363636;
$green-darker: #3E775D;
$red-darker: #B43E3E;
$success: #28977e;

$light-gray: #666666;
$white-smoke: #f1f1f1;
$blue: #355b6b;
$light-blue: #15729b;
$navy-blue: #355b6b;
$link-blue: #126f9a;
$denim-blue: #16729b;
$tile-background: #fff;
$label-subtitle: #666666;

$body-bg: #f0f5f7;

$footer-bg: #000000;
$footer-blue-bg: #03152D;

$sirocco: #465a5b;
$brand-button-bg: #a41e34;
$brand-lighter-bg: #c5264e;
$brand-darker-bg: #a31f34;

$home-page-header-blue: #03152D;
$home-page-grey-text: #6F7175;
$home-page-grey-lite: #F0F5F7;
$home-page-border-grey: #DFE5EC;
$home-page-dark-blue: #000C1B;
$home-page-video-player-blue: #0C8CE9;
$home-page-facebook-blue: #395492;
$home-page-linkedin-blue: #0A66C2;
$home-page-twitter-blue: #00A5E3;
$home-page-border-purple: #491EA4;
$home-page-subheader-light-blue: #03ADD2;

$product-page-hover-time: 0.5s;

$card-drop-shadow: 0px 2px 3px 0px rgba(18, 38, 49, 0.15);
$helptext-grey: #58585A;

$dashboard-tab-inactive: #8A8B8C;
