// sass-lint:disable mixins-before-declarations

body.new-design {
  font-family: Inter;

  h2 {
    font-family: Poppins;

  }
  h1 {
    font-family: Poppins;
    @include media-breakpoint-up(lg) {
      font-size: 45px;
    }
  }

  .product-page {
    margin-top: 1.5rem;
    background-color: white;

    .row.align-center {
      @include media-breakpoint-down(md) {
          justify-content: center !important;
      }
    }
    .col.flex-none {
      flex: none;
    }

    .breadcrumb-item {
      color: var(--GreyText, #6F7175);
      font-size: 14px;

      img {
        margin-right: 10px;
      }
      a {
        text-decoration: none;
      }
    }
    span.badge-program-type {
      background-color: $black;
      color: white;
      border-radius: 3px;
      padding: 3px 10px;
      font-size: 12px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }


    section.course-description {
      font-size: 20px;
      color: var(--GreyText, #6F7175);
      font-style: normal;
      font-weight: 500;
      line-height: 38px;
    }

    #tab-bar {
      padding: 0;
      margin: 2em 0;
      border-bottom: 1px solid #DFE5EC;
      background-color: #EFF3F6;

      @include media-breakpoint-down(md) {
        padding: 15px;
        margin: 0 -15px;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
        a {
          color: black;
        }
      }

      li.nav-item {
        a {
          color: #2A6D87;
          text-decoration: none;
          padding: 18px 20px;
          font-size: 16px;
          line-height: 19px;
        }
        a.active, a.active:hover {
          color: $primary;
          border-bottom: 1px solid $primary;
        }
        a:hover {
          color: #061e2d;
        }
      }
    }
    .scroll-spy-content {

      a:hover {
        color: #061e2d;
      }
      .dropdown-menu {
        box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.1);
        border: 1px solid #DFE5EC;
        margin: -2px 0 0 0;
      }
      .dropdown-toggle {
        border: 1px solid #DFE5EC;
        padding: 10px 15px;
        background-color: white;
        width: 100%;
        color: #03152D;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .dropdown-menu.show {
        width: 100%;
      }
      .dropdown-item.active {
        background-color: #8c8a8a42;
        color: #061e2d;
      }

    }

    section.about-richtext-container {
      margin: 2.5rem 0;
      color: var(--Blue-Dark, #03152D);

      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;

      div.expand_here_body {
        max-height: 0px;
        overflow-y: hidden;
        transition: all 0.4s ease;
      }

      div.expand_here_body.open {
        max-height: 400rem;
      }

      .hide {
        //transition: opacity 200ms, display 200ms;
        display: none;
        opacity: 0;
      }

      a.expand_here_link {
        opacity: 0;
        transition: opacity 225ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }

      a.expand_here_link.fade {
        opacity: 1;
        transition: opacity 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
      }
    }

    section.about-this-class {
      color: #000;
      /* TODO: this requires a different font and colors */    
      h2, h3, h4, h5, h6 {
        font-size: smaller;
      }
    }

    #instructors {
      background-color: #eff3f6;
      margin: 1.5rem 0;
      padding: 30px 20px;
      border: 1px solid #dce1e9;
    }

    .ofac-message {
      border: 1px solid #e4e9ef;
      padding: 2rem;
      clear: both;
    }

    #product-info-box {
      padding-bottom: 25px;
      font-size: 16px;
      line-height: 24px;
      color: $black;
      max-width: 400px;
      height: auto;
      border-radius: 5px;

      @include media-breakpoint-down(md) {
          margin-top: 1.5rem;
        }

      strong {
        font-weight: 600;
      }

      .hero-media {
        margin: 7px 15px;
        max-width: 350px;

        img {
          border-radius: 5px;
          max-width: 350px;
        }

        .vjs-default-skin {
          width: 325px;
          max-height: 240px;
        }

        .video-js {
          .vjs-big-play-button {
            background: black;
            opacity: 0.8;
            width: 64px;
            height: 64px;
            border: none;
            border-radius: 50%;
    
            &:hover {
              opacity: 0.6;
            }
          }
    
          .vjs-poster {
            height: fit-content;
          }
        }
    
        .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
          top: 0.3em;
        }
    
        .vjs-youtube {
    
          .vjs-big-play-button {
            display: none;
          }
        }
    
        .video-holder {
          background: $sirocco;
          margin-top: 10px;
    
          img {
            display: block;
            width: 100%;
          }
        }
      }

      .stats-row {
        display: flex;
        flex-flow: column;
        align-items: top;
        margin: 10px 12px;
        width: 350px;

        @include media-breakpoint-up(xl) {
          margin: 0 -18px;
        }

        .font-weight-bold {
          font-weight: 600;
        }

        .btn-enrollment-button {
          font-family: Poppins;
          height: 50px;
          line-height: 50px;
          width: 100%;
          padding: 0!important;
          text-align: center;
        }

        button.btn-enrollment-button {
          color: $white;
        }

        button.btn-enrollment-button:hover {
          color: $brand-darker-bg;
        }

        .enrollment-info-box, .program-info-box {
          margin: 10px 0;
          padding: 10px 0;

          h3 {
            font-size: 16px;
            font-weight: 600;
          }
        }

        .enrollment-info-box {
          border: 1px solid #d1d1d1;
          border-left: none;
          border-right: none;
          font-size: 15px;

          .row {
            margin: 20px 0;
          }

          .callout {
            padding: 0.9375rem;
            gap: 0.625rem;
            flex-wrap: nowrap;
            i.warning {
              font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
              color: $warning;
              padding: 0;
              margin-top: .25rem;
              width: fit-content;
            }
            p{
              width: 95%;
              font-size: 0.875rem;
              color: $home-page-header-blue;
              font-family: Inter, sans-serif;
              margin: 0;
            }
          }
          .callout-warning{
            border: 1px solid rgba(255, 171, 0, 0.30);
            border-left: 2px solid $warning;
            background: #FFF3CC;
          }

          .enrollment-info-icon {
            max-width: 20px;
            margin-right: 12px;
            
            img {
              max-width: 20px;
            }
          }

          .enrollment-info-text {
            width: auto;
            flex-grow: 1;

            .enrollment-effort {
              font-size: smaller;
            }

            .badge-pacing {
              background-color: $black;
              text-transform: uppercase;
              margin-left: .5rem;
              padding: 3px;
              font-weight: normal;
            }
          }
          .more-enrollment-info {
            width: auto;
            color: $brand-darker-bg;
            font-size: 12px;
            text-decoration-line: underline;
            border-color: transparent;
            background-color: transparent;
            padding-right: 0;
          }
          .more-dates-enrollment-list{
            list-style: none;
            li {
              padding-left: 36px;
            }
            button.more-dates-link {
              font-size: 14px;
              border: 0;
              padding-left: 0;
              background-color: transparent;
            }
            button.more-dates-link.enrolled {
              color: $green-darker;
              cursor: default;
            }
          }
        }

        .program-info-box {
          margin: 10px 12px;
          ul {
            margin-top: 1em;
          }
        }
      }
    }
  }


  .upgrade-enrollment-modal {
    max-width: 750px;

    .modal-content {
      padding: 5px 14px;
    }

    .enroll-now-free {
      font-size: 16px;
      font-weight: 400;
    }

    form {
      margin-bottom: 0;

      .btn-upgrade {
        width: 100%;
        background-color: #A41E34;
        color: white;
        text-align: left;
        background-image: url('/static/images/arrow-line-right.png');
        background-position: 90% 50%;
        background-repeat: no-repeat;
        padding: 11px 22px;
      }
    }

    ul { 
      padding: 0;
    }

    li {
      list-style: none;
      min-height: 3.5rem;
      background-image: url('/static/images/upsell-check.png');
      background-repeat: no-repeat;
      background-position: 0 0;
      padding-left: 33px;
      line-height: 24px;
    }
  }

  div.date-selector-button-bar {
    margin-bottom: 20px;

    label {
     font-weight: bold;
     line-height: 24px; /* 160% */      
    }

    select {
      display: flex;
      width: 100%;
      padding: 10px 10px;
      align-items: flex-start;
      gap: 10px;
      border-radius: 5px;
      border: 1px solid var(--BorderGrey, #DFE5EC);
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
      font-size: 14px;
    }
  }

  div.certificate-pricing-row { 
    border-radius: 5px;
    border: 1px solid var(--BorderGrey, #DFE5EC);
    background: rgba(3, 21, 45, 0.05);
    padding: 15px;
    margin: 0 1px;

    div.certificate-pricing-logo {
      img {
        width: 40px;
        height: 44px;
      }
      margin-right: 10px;
    }

    p {
      font-size: 18px;
      margin-bottom: 0;
      span.text-danger {
        font-size: 15px;
      }
    }

    .col-6 {
      padding: 0;

      form {
        margin-left: 12px;

        button.btn-upgrade {
          font-size: 20px;
          line-height: normal;
          span {
            font-size: 18px;
          }
        }
      }
    }
  }

  div.upgrade-options-row {
    margin: 30px 1px 20px 1px;

    display: flex;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch; 

    // border-bottom: 1px solid var(--BorderGrey, #DFE5EC); 
    border: none;

    div {
      width: auto;
      margin: 0;
      padding: 0;

      a {
        color: black;
      }

      button {
        padding: 0;
      }
    }
  }

  div.upsell-messaging-header {
    margin: 20px 1px;
    
    div {
      font-weight: 700;
    }
  }

  .instructor-modal {
    .modal-dialog {
      max-width: 770px;
      border-radius: 5px;

      @include media-breakpoint-down(md) {
        width:500px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        display: flex;
        width: 360px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin: 0;
      }

      .modal-header {
        background-color: #03152d;
        background-image: url('/static/images/instructor-modal-head.jpg');
        background-position: 0 60%;
        background-size: cover;
        height: 130px;
        align-items: start;
        padding: 20px;

        @include media-breakpoint-down(sm) {
          background-image: none;
          border-bottom: none;
          padding: 5px;
          background-color: transparent;
          height: 0;
          z-index: 9;
        }
    
        h5 {
          margin-left: -9999px;
        }
    
        button.close {
          border: 0;
          border-radius: 100%;
          width: 30px;
          height: 30px;

          @include media-breakpoint-down(sm) {
            background-color: transparent;
            width: 38px;
            height: 38px;
          }
        }
      }
    
      .modal-body {
        padding-left: 50px;
        padding-right: 50px;

        @include media-breakpoint-down(sm) {
          padding-left: 20px;
          padding-right: 20px;
        }

        div.col-instructor-photo {
          margin-top: -50px;
          width: 165px !important;
          max-width: 165px;

          @include media-breakpoint-down(sm) {
            margin-top: -5px;
            flex: 0.35 0;
        }

          img.img-thumbnail {
            width: 130px;
            height: 145px;
            padding: 7px;
            margin: 7px;
            object-fit: cover;
            object-position: 50% 0;

            box-shadow: 0px 2px #e1e1e1;

            @include media-breakpoint-down(sm) {
              width: 80px;
              height: 90.278px;
              padding: 5px;
              margin: 0;
            }
          }
        }

        div.col-instructor-title {
          width: auto;
          margin-left: 10px;

          @include media-breakpoint-down(sm) {
            width: 218px;
            padding: 0;
            margin-left: 0;
          }

          h2 {
            margin-bottom: 0px;
            line-height: 30px;
            font-size: 25px;
            font-weight: 700;

            @include media-breakpoint-down(sm) {
              font-size: 20px;
              font-style: normal;
              font-weight: 700;
            }
          }
          h3, p {
            font-size: 18px;
            line-height: 21.6px;
            font-weight: 400;
            margin-bottom: 0px;
          }
          h3 {
            font-weight: 600;

            @include media-breakpoint-down(sm) {
              font-size: 16px;
              font-weight: 500;
            }
          }
          p {
            margin-top: 5px;
          }
        }

        .row-instructor-body {
          padding: 10px 10px;

          @include media-breakpoint-down(sm) {
            padding: 10px 0;
          }
        }
      }
    }
  }

  .financial-assistance-link {
    text-align: left;
    font-size: 16px;

    a {
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 768px) {
  body.new-design {
    div.certificate-pricing-row {
      div.certificate-pricing {
        margin-bottom: 15px !important;
      }

      div.enroll-and-pay {
        padding-left: 0px;
        padding-right: 0px;
      }
    }

    div.upgrade-options-row {
      div {
        width: 100%;
        text-align: center;
        p {
          text-align: center;
        }
        margin-bottom: 12px;
      }
    }
  }
}
