// sass-lint:disable mixins-before-declarations

body.new-design {
  font-family: Inter;
  background: white;

  h2 {
    font-family: Poppins;

  }
  h1 {
    font-family: Poppins;
    @include media-breakpoint-up(lg) {
      font-size: 45px;
    }
  }

  .product-page {
    margin-top: 1.5rem;
    background-color: white;

     @include media-breakpoint-down(sm) {
        h2 {
          font-size: 20px;
          line-height: 20px;
        }

        h3 {
          font-size: 20px;
          line-height: 26px;
        }
      }

    .row.align-center {
      @include media-breakpoint-down(md) {
          justify-content: center !important;
      }
    }
    .col.flex-none {
      flex: none;
    }

    .container {
      max-width: 1260px;
      padding: 0 15px;
      box-sizing: border-box;
      margin: 0 auto;
    }

    .breadcrumb-item {
      color: var(--GreyText, #6F7175);
      font-size: 14px;

      img {
        margin-right: 10px;
      }
      a {
        text-decoration: none;
      }
    }
    span.badge-program-type {
      background-color: $black;
      color: white;
      border-radius: 3px;
      padding: 3px 10px;
      font-size: 12px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }


    section.course-description {
      font-size: 20px;
      color: var(--GreyText, #6F7175);
      font-style: normal;
      font-weight: 500;
      line-height: 38px;
    }

    #tab-bar {
      padding: 0;
      border-bottom: 1px solid #DFE5EC;
      background-color: #EFF3F6;

      @include media-breakpoint-down(md) {
        padding: 15px;
        margin: 0 -15px;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
      }

      li.nav-item {
        a {
          color: #2A6D87;
          text-decoration: none;
          padding: 18px 20px;
          font-size: 16px;
          line-height: 19px;
        }
        a.active, a.active:hover {
          color: $primary;
          border-bottom: 1px solid $primary;
        }
        a:hover {
          color: #061e2d;
        }
        a.nav-link.dropdown-item {
        color: black;
        text-decoration: none;
        border-bottom: none;
        }
      }
      .dropdown-menu {
        box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.1);
        border: 1px solid #DFE5EC;
        margin: -2px 0 0 0;
      }
      .dropdown-toggle {
        border: 1px solid #DFE5EC;
        padding: 10px 15px;
        background-color: white;
        width: 100%;
        color: #03152D;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
      }
      .dropdown-menu.show {
        width: 100%;
      }
      .dropdown-item.active {
        background-color: #8c8a8a42;
        color: #061e2d;
      }
    }

    section.about-richtext-container {
      margin: 2.5rem 0;
      color: var(--Blue-Dark, #03152D);

      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;

      div.expand_here_body {
        max-height: 0px;
        overflow-y: hidden;
        transition: all 0.4s ease;
      }

      div.expand_here_body.open {
        max-height: 400rem;
      }

      .hide {
        //transition: opacity 200ms, display 200ms;
        display: none;
        opacity: 0;
      }

      a.expand_here_link {
        opacity: 0;
        transition: opacity 225ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }

      a.expand_here_link.fade {
        opacity: 1;
        transition: opacity 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
      }
    }

    section.about-this-class {
      color: #000;
      /* TODO: this requires a different font and colors */
      h2, h3, h4, h5, h6 {
        font-size: smaller;
      }
    }

    #instructors {
      background-color: #eff3f6;
      margin: 1.5rem 0;
      padding: 30px 20px;
      border: 1px solid #dce1e9;
    }

    .ofac-message {
      padding: 2rem;
      clear: both;
    }

    #product-info-box {
      font-size: 15px;
      line-height: 24px;
      color: $black;
      max-width: 400px;
      margin-left: 20px;
      margin-right: 20px;
      padding: 0;

      @include media-breakpoint-down(md) {
        margin: 0 auto 30px auto;
      }
      .product-info-box-container {
        height: auto;
        border-radius: 5px;
        padding: 20px 20px 0 20px;
        border: 1px solid $home-page-border-grey;
        margin-top: 20px;

        @include media-breakpoint-down(sm) {
          border-top: none;
          border-left: none;
          border-right: none;
          padding-top: 0;
        }
      }


      strong {
        font-weight: 600;
      }

      .info-link {
        color: $home-page-header-blue;
        text-decoration-line: underline;

        &:hover {
          text-decoration-line: none;
          color: $brand-darker-bg;
        }
      }

      .hero-media {
        margin: 7px 15px;
        max-width: 360px;

        img {
          border-radius: 5px;
          max-width: 350px;
        }

        .vjs-default-skin {
          width: 340px;
          max-height: 240px;
        }

        .video-js {
          .vjs-big-play-button {
            background: black;
            opacity: 0.8;
            width: 64px;
            height: 64px;
            border: none;
            border-radius: 50%;

            &:hover {
              opacity: 0.6;
            }
          }

          .vjs-poster {
            height: fit-content;
          }
        }

        .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
          top: 0.3em;
        }

        .vjs-youtube {

          .vjs-big-play-button {
            display: none;
          }
        }

        .video-holder {
          background: $sirocco;
          margin-top: 10px;

          img {
            display: block;
            width: 100%;
          }
        }
      }

      .stats-row {
        display: flex;
        flex-flow: column;
        align-items: top;
        margin-top: 10px;
        width: 360px;

        .font-weight-bold {
          font-weight: 600;
        }

        .btn-enrollment-button {
          font-family: Poppins;
          height: 50px;
          line-height: 50px;
          width: 100%;
          padding: 0!important;
          text-align: center;
          color: $white;
          background: $primary;
          font-size: 20px;
          font-weight: 700;
        }

        .btn-enrollment-button:disabled, .btn-gradient-red:disabled {
          background: #6F7175 !important;
          border-color: #6F7175;
          opacity: 1;
        }

        .enrollment-info-box, .program-info-box {
          margin: 10px 0;
          padding-top: 10px;
          border-top: 1px solid #d1d1d1;

          .related-programs-info {
            font-size: 16px;
            font-weight: 600;

            img {
              margin-right: 10px;
            }
          }
        }

        .enrollment-info-box {
          font-size: 15px;

          .row {
            margin: 0 0 20px 0;
          }

          .enrollment-info-icon {
            max-width: 18px;
            padding: 0;
            margin-right: 0;
            margin-top: -2px;

            img {
              max-width: 18px;
            }
          }
          .enrollment-info-text.pacing-badge-position {
            width: min-content;
            text-align: right;
          }

          .enrollment-info-text {
            width: auto;
            flex-grow: 1;
            color: $helptext-grey;
            padding-left: 10px;
            padding-right: 0;

            .enrollment-length-info {
              max-width: 165px;
            }
            span {
              font-weight: 700;
              color: black;
            }

            .enrollment-effort {
              font-size: smaller;
              display: inline-block;
            }

            .badge-pacing {
              display: inline-flex;
              background-color: $black;
              text-transform: uppercase;
              padding: 3px;
              font-weight: normal;
              color: white;

            }
          }
          .course-certificate-message {
            background-color: rgba(3, 21, 45, 0.05);
            padding: 15px;
            margin-left: 28px;
            margin-top: 10px;

            div {
              font-size: 14px;
            }

            .more-info {
              padding-right: 12px;
            }
          }
          .more-info {
            display: inline-flex;
            width: auto;
            border-color: transparent;
            background-color: transparent;
            float: right;
            padding: 0;
            font-size: smaller;
          }
          .more-info.more-dates {
            height: fit-content;
            line-height: normal;
          }
          .finaid-link {
            display: block;
            font-size: 14px;
          }
          .more-dates-enrollment-list{
            list-style: none;
            font-size: 14px;
            color: $helptext-grey;
            margin-top: 5px;
            margin-bottom: 0;
            li {
              padding-left: 16px;
            }
            button.more-dates-link {
              font-size: 14px;
              border: 0;
              padding-left: 0;
              background-color: transparent;
            }
            button.more-dates-link.enrolled {
              color: $green-darker;
              cursor: default;
            }
          }
        }

        .program-info-box {
          margin: 10px 12px;
          ul {
            margin-top: 1em;
          }
        }
      }
    }
  }

  .pacing-info-dialog {
    max-width: 500px;

    .modal-header {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  .upgrade-enrollment-modal {
    max-width: 750px;
    .cancel-link {
      margin: 20px 0;
    }
    .cancel-link button {
      text-align: left;
    }
    .enroll-now-free {
      padding: 10px 20px;
      font-size: 15px;
      font-weight: 400;
      text-decoration: none;
      box-shadow: none;
      border: 1px solid #DFE5EC;
      background: rgba(3, 21, 45, 0.05);
    }
    .enroll-now-free:focus-visible {
      border-radius: 0;
      outline: 2px #28977e solid;
    }

    form.new-design {
      text-align: right !important;

      .btn-upgrade {
        width: 86%;
        padding: 15px 30px;
        background-image: none !important;

        div.upgrade-btn-text {
            display: inline-block;
            margin-left: 16px;
        }

        strong {
          font-size: 20px;
          line-height: 24.2px;
        }

        span {
          font-size: 18px;
          line-height: 21.78px;
        }

        i.shopping-cart-line-icon {
          background-image: url("/static/images/shopping-cart-line.svg");
          display: inline-block;
          filter: invert(100%) sepia(95%) saturate(0%) hue-rotate(19deg) brightness(103%) contrast(100%);
          vertical-align: super;
          width: 24px;
          height: 24px;
        }
      }
    }

    form {
      margin-bottom: 0;

      .btn-upgrade {
        width: 100%;
        background-color: #A41E34;
        color: white;
        text-align: left;
        background-image: url('/static/images/arrow-line-right.png') !important;
        background-position: 90% 50% !important;
        background-repeat: no-repeat !important;
        padding: 14px 22px;


      }
      .btn-upgrade:focus-visible {
          border-color: #82192a;
          outline: 0;
          box-shadow: 0 0 0 0.25rem rgba(177, 65, 82, .5);
      }
    }

    ul {
      padding: 0;
    }

    li {
      list-style: none;
      min-height: 3.5rem;
      background-image: url('/static/images/upsell-check.png');
      background-repeat: no-repeat;
      background-position: 0 0;
      padding-left: 33px;
      line-height: 24px;
    }
    a {
    text-decoration: underline;
  }

  }

  div.date-selector-button-bar {
    margin-bottom: 20px;

    label {
     font-weight: bold;
     line-height: 24px; /* 160% */
    }

    select {
      display: flex;
      width: 100%;
      padding: 10px 10px;
      align-items: flex-start;
      gap: 10px;
      border-radius: 5px;
      border: 1px solid var(--BorderGrey, #DFE5EC);
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
      font-size: 14px;
    }
  }

  div.certificate-pricing-row {
    border-radius: 5px;
    border: 1px solid var(--BorderGrey, #DFE5EC);
    background: rgba(3, 21, 45, 0.05);
    padding: 15px;
    margin: 0 1px;

    div {
      padding: 0;
    }

    div.certificate-pricing-logo {
      img {
        width: 40px;
        height: 44px;
      }
      margin-right: 10px;
    }

    p {
      font-size: 18px;
      margin-bottom: 0;
      span.text-danger {
        color: #A41E34 !important;
        font-size: 15px;
        font-weight: 400;
      }
    }

    .col-6 {
      padding: 0;

      form {
        margin-left: 12px;

        button.btn-upgrade {
          font-size: 20px;
          line-height: normal;
          span {
            font-size: 18px;
          }
        }
      }
    }
  }

  div.upgrade-options-row {
    margin: 23px 1px 8px 1px;
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
    align-self: stretch;
    border: none;

    div {
      width: auto;
      margin: 0;
      padding: 0;

      a {
        color: black;
      }

      button {
        padding: 0;
      }
    }
  }

  div.upsell-messaging-header {
    margin: 20px 1px;

    div {
      font-weight: 700;
    }
  }

  .instructor-modal {
    .modal-dialog {
      max-width: 770px;
      border-radius: 5px;
      z-index: 2000;

      @include media-breakpoint-down(md) {
        width:500px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        display: flex;
        width: 360px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin: 0;
      }

      .modal-header {
        background-color: #03152d;
        background-image: url('/static/images/instructor-modal-head.jpg');
        background-position: 0 60%;
        background-size: cover;
        height: 130px;
        align-items: start;
        padding: 20px;

        @include media-breakpoint-down(sm) {
          background-image: none;
          border-bottom: none;
          padding: 5px;
          background-color: transparent;
          height: 0;
          z-index: 9;
        }

        h5 {
          margin-left: -9999px;
        }

        button.close {
          border: 0;
          border-radius: 100%;
          width: 30px;
          height: 30px;

          @include media-breakpoint-down(sm) {
            background-color: transparent;
            width: 38px;
            height: 38px;
          }
        }
      }

      .modal-body {
        padding-left: 50px;
        padding-right: 50px;

        @include media-breakpoint-down(sm) {
          padding-left: 20px;
          padding-right: 20px;
        }

        div.col-instructor-photo {
          margin-top: -50px;
          width: 165px !important;
          max-width: 165px;

          @include media-breakpoint-down(sm) {
            margin-top: -5px;
            flex: 0.35 0;
        }

          img.img-thumbnail {
            width: 130px;
            height: 145px;
            padding: 7px;
            margin: 7px;
            object-fit: cover;
            object-position: 50% 0;

            box-shadow: 0px 2px #e1e1e1;

            @include media-breakpoint-down(sm) {
              width: 80px;
              height: 90.278px;
              padding: 5px;
              margin: 0;
            }
          }
        }

        div.col-instructor-title {
          width: auto;
          margin-left: 10px;

          @include media-breakpoint-down(sm) {
            width: 218px;
            padding: 0;
            margin-left: 0;
          }

          h2 {
            margin-bottom: 0px;
            line-height: 30px;
            font-size: 25px;
            font-weight: 700;

            @include media-breakpoint-down(sm) {
              font-size: 20px;
              font-style: normal;
              font-weight: 700;
            }
          }
          h3, p {
            font-size: 18px;
            line-height: 21.6px;
            font-weight: 400;
            margin-bottom: 0px;
          }
          h3 {
            font-weight: 600;

            @include media-breakpoint-down(sm) {
              font-size: 16px;
              font-weight: 500;
            }
          }
          p {
            margin-top: 5px;
          }
        }

        .row-instructor-body {
          padding: 10px 10px;

          @include media-breakpoint-down(sm) {
            padding: 10px 0;
          }
        }
      }
    }
  }

  .financial-assistance-link {
    text-align: left;
    font-size: 16px;
    height: 22px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    text-decoration: underline;
    margin-bottom: 0;

    &:hover{
      text-decoration: none !important;
    }

    a {
      color: black;
      font-weight: 400;

      &:hover{
        color: $brand-darker-bg;
        text-decoration: none !important;
      }
    }
  }
  a.finaid-link {
    display: block;
    color: #03152D;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;


    &:hover{
      text-decoration: none !important;
    }

    a {
      color: black;
      font-weight: 400;

      &:hover{
        color: $brand-darker-bg;
        text-decoration: none !important;
      }
    }
  }
}

.popover-header {
  text-align: center;
  background: $white;
}

.date-link {
  color: $link-blue !important;
  text-decoration: underline;
  background-color: transparent;
  border: none;
}
