// sass-lint:disable mixins-before-declarations
.program-courses-container {
    margin: 0 0 35px;

    h2 {
        margin: 0 0 35px;

        @include media-breakpoint-down(sm) {
            margin: 0 0 27px;
        }
    }

    li {
        @include media-breakpoint-down(md) {
            width: calc(100% - 44px);
        }

        width: calc(33% - 44px);
        margin: 0 22px 24px;

        .program-course-card {
            padding: 0;
            overflow: hidden;
            border-radius: 4px !important;
            box-shadow: 0 1px 0 0 rgb(0 0 0 / 12%);
            width: 243px;

            .program-course-card-info {
                overflow: hidden;
                margin-top: 7px;

                @include media-breakpoint-down(md) {
                    margin-top: 20px;
                }

                img {
                    max-width: 243px;
                    max-height: 136px;
                    object-fit: cover;
                    object-position: 50% 0;

                    @include media-breakpoint-down(sm) {
                        display: block;
                        float: none;
                        margin: 0 auto 10px;
                    }
                }

                h4 {
                    font-weight: 400;
                    font-size: 12px;
                    color: #6f7175;
                }

                h3 {
                    font-size: 14px;
                    font-weight: 600;
                    color: rgba(3, 21, 45, 0.85);
                }
            }

            &:hover {
                h3 {
                    color: $brand-button-bg;
                }
            }
        }
    }

}