// sass-lint:disable mixins-before-declarations
body.new-design {
    .badge.badge-dark {
        font-weight: 400;
        color: white;
        background-color: black;
    }

    p.program-type-badge {
        margin-bottom: 0;
    }

    .badge-program-type {
        padding-left: 15px;
        padding-right: 15px;
    }

    .program-courses-container {
        width: 100%;
        margin: 0 0 35px;

        h2 {
            margin: 0 0 35px;

            @include media-breakpoint-down(sm) {
                margin: 0 0 27px;
            }
        }

        h2.electives-title {
            margin-top: 35px;
        }

        ul {
            display: flex;
            margin: 0;
            padding: 0;
            flex-flow: row wrap;
            justify-content: left;
        }

        li {
            @include media-breakpoint-down(md) {
                width: calc(100% - 44px);
            }

            width: 273px;
            margin: 0 0 15px 0;
            list-style: none;
            display: inline;

            .program-course-card {
                padding: 0;
                overflow: hidden;
                border-radius: 4px !important;
                box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 12%);
                max-width: 262px;
                max-height: 259px;
                height: 259px;
                transition: .25s;

                img {
                    max-width: 262px;
                    max-height: 171px;
                    height: 171px;
                    object-fit: cover;
                    object-position: center;
                    background: rgba(0, 0, 0, 0.50);
                    opacity: 0.5;
                    transition: .25s;
              
                    @include media-breakpoint-down(sm) {
                        display: block;
                        float: none;
                        margin: 0 auto 10px;
                    }
                }

                .program-course-card-info {
                    overflow: hidden;
                    padding: 15px;
                    cursor: pointer;

                    @include media-breakpoint-down(md) {
                        margin-top: 20px;
                    }

                    .start-date {
                        font-weight: 400;
                        font-size: 12px;
                        color: var(--GreyDark, #58585A);
                        margin-bottom: 0.5rem;
                        transition: $product-page-hover-time;
                    }

                    h3 {
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 16px;
                        color: var(--GreyDark, #58585A);
                        transition: $product-page-hover-time;
                    }
                }

                &:hover {

                    img {
                        opacity: 1;
                        transition: $product-page-hover-time;
                    }
                }
            }
        }
    }
}
