{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block title %}{{ site_name }} | {{ page.title }}{% endblock %}

{% block content %}

<div id="main" class="main-page-content">
  <div class="std-page-body container auth-page">
    <div class="auth-card card-shadow auth-form">
      <div class="auth-header">
        <h1 class="text-uppercase" id="{{ page.title|slugify }}">Request Flexible Pricing</h1>
        <p>{{ page.title }}</p>
        {{ self.thank_you_text|richtext }}
      </div>
    </div>
  </div>
</div>
{% endblock %}