{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block title %}{{ site_name }} | {{ page.title }}{% endblock %}

{% block content %}

<div class="container resource-container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <h1 class="text-uppercase" id="{{ page.title|slugify }}">{{ page.title }}</h1>

        <p>Before you can pay, you need to verify your income. Please visit the 
          <a href="https://na2.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=4a74536d-1629-4709-b8e9-f173a51cf501&env=na2&v=2">secure DocuSign website</a>
          to upload an English-translated and notarized income tax or income
          statement document. You can also send documents by mail. DO NOT SEND 
          BY EMAIL.
        </p>

        <p>To submit via mail, send your documents to:</p>

        <p>
          J-PAL
          <br />
            DEDP MITxOnline
          <br />
            Massachusetts Institute of Technology
          <br />
            77 Massachusetts Avenue E19-235D
          <br />
            Cambridge, MA 02139 United States of America
        </p>
      </div>
  </div>
</div>
{% endblock %}