.btn-primary.btn-halfsize {
  padding: 9px 25px;
}

.w-33 {
  width: 33% !important;
}

.w-66 {
  width: 66% !important;
}

.cart-text-smaller {
  font-size: 80%;
}

.order-summary-total {
  h5 {
    font-weight: 700;
  }
}