body {
  font-size: 16px;
}

h1 {
  font-size: 34px;
  line-height: 38px;
  margin: 0 0 13px;
  font-weight: 700;

  @include media-breakpoint-up(md) {
    font-size: 42px;
    line-height: 52px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 24px;
    line-height: 28px;
  }
}

h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  margin: 0 0 18px;

  @include media-breakpoint-down(sm) {
    font-size: 18px;
    line-height: 22px;
  }
}

h3 {
  font-size: 26px;
  line-height: 26px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

a.link-button {
  display: inline-block;
  padding: 10px;
  text-align: center;
  text-decoration: none;

  &:hover,
  &:visited {
    text-decoration: none;
  }

  &.red {
    border-radius: 5px;
    background-color: rgb(163 31 52);
    color: #fff;
  }

  &.light-blue {
    border-radius: 5px;
    background-color: $light-blue;
    color: #fff;
  }
}

.form-error {
  color: $primary;
}

.align-text-right {
  text-align: right;
}

.gray-text {
  color: $gray;
}

.light-gray-text {
  color: $label-subtitle;
}

.btn-light-blue {
  background-color: $light-blue !important;
  border-color: $light-blue !important;
  font-size: 20px;
}

.btn-primary {
  color: white;
  font-size: 18px;
  padding: 11px 40px;
  border-radius: 0;
  font-weight: 600;
  background-color: $brand-button-bg;

  &.large {
    font-size: 20px;
    padding: 17px 50px;
  }

  &.highlight {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    padding: 18px 60px;
    text-decoration: none;
    transition: linear 0.4s;

    &:hover {
      opacity: 0.8;
    }
  }

  &.outline {
    background-image: none;
    background-color: #fff;
    color: $brand-lighter-bg;
    border: 2px solid $brand-lighter-bg;

    &:hover {
      opacity: 1;
    }
  }
}

.btn-gradient-red {
  background: linear-gradient(174deg, $brand-lighter-bg, $brand-darker-bg);
}

.btn-denim-blue {
  background-color: $denim-blue;
  border-color: $denim-blue;
  color: white;

  &:hover {
    color: white !important;
  }
}

.link-light-blue {
  &,
  &:hover,
  &:visited,
  &:active {
    color: $light-blue;
  }
}

.link-black {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

.text-ribbon {
  position: relative;
  width: 160px;
  height: 40px;

  svg {
    width: 160px;
    height: 40px;
    filter: drop-shadow(-1px 2px 2px rgb(0 0 0 / 40%));
    fill: black;
  }

  .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 40px;
    text-align: center;
    color: white;
  }
}

.card {
  background-color: #fff;
  border: 0;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 23%);
}

.card-shadow {
  box-shadow: -4px 5px 8px 0 rgb(204 204 204 / 80%);
}

.card-listing {
  padding: 0;
  margin: 0 -22px;
  list-style: none;
  letter-spacing: -0.32em;

  li {
    letter-spacing: normal;
    display: inline-block;
    vertical-align: top;
  }
}

.highlight-card {
  background: white;
  border-bottom: 3px solid transparent;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 23%);

  &:hover {
    border-color: $brand-button-bg;
    box-shadow: 0 2px 15px 4px rgb(0 0 0 / 16%);
  }
}

.profile {
  background: url("/static/images/user.svg") left no-repeat;
  height: 120px;
  width: 120px;
}

.dotted {
  border-bottom: 2px dashed #8a8b8c;
  margin-top: 25px;
}

.dropdown-menu {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%), 0 13px 11px 8px rgb(0 0 0 / 12%);
  border-color: $white-smoke;
  border-radius: 0;
  padding: 10px 15px;

  .dropdown-item {
    display: block;
    padding: 7px 0;
    font-size: 16px;
    line-height: 14px;

    &:active,
    &:hover {
      background-color: white;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    a,
    /* stylelint-disable-next-line no-descending-specificity */
    button.unstyled {
      display: block;
      width: 100%;
      color: $black;
      font-weight: 600;
      text-align: left;
      text-decoration: none;

      &:hover {
        color: $primary;
      }
    }
  }
}
