$feature-img-width: 202px;
$feature-img-height: 143px;
$feature-img-mobile-height: 223px;

.enrolled-items {
  .card {
    display: flex;
    flex-direction: row;

    h2 a {
      text-decoration: underline;
    }

    &.no-enrollments {
      flex-direction: column;

      a {
        color: black;
        text-decoration: underline;
      }

      p {
        margin: 0;
      }
    }

    @include media-breakpoint-up(md) {
      .row {
        height: $feature-img-height;

        > * {
          height: 100%;
        }
      }
    }

    .img-container {
      @include media-breakpoint-down(sm) {
        width: 100%;
        height: $feature-img-mobile-height;
      }

      width: $feature-img-width;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }

    .detail {
      color: $gray;

      strong {
        color: $primary;
      }
    }
  }

  button.dot-menu {
    // Setting height so the button element doesn't expand to cover the full height of the row
    height: $material-icon-height;
  }

  .unenroll-denied-msg .tooltip {
    width: 250px;
  }
}

.dashboard h1 {
  margin-bottom: 38px;

  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }
}

.modal-title {
  width: 500px;
}
