// sass-lint:disable mixins-before-declarations

$featureImgWidth: 202px;
$featureImgHeight: 143px;
$featureImgMobileWidth: 345px;
$featureImgMobileHeight: 223px;

.enrolled-items {
  .card {
    display: flex;
    flex-direction: row;

    &.no-enrollments {
      flex-direction: column;

      a {
        color: black;
        text-decoration: underline;
      }

      p {
        margin: 0;
      }
    }

    h2 a {
      text-decoration: underline;
    }

    @include media-breakpoint-up(md) {
      .row {
        height: $featureImgHeight;

        > * {
          height: 100%;
        }
      }
    }

    .img-container {
      @include media-breakpoint-down(sm)  {
        width: 100%;
        height: $featureImgMobileHeight;
      }

      width: $featureImgWidth;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }

    .detail {
      color: $gray;

      strong {
        color: $primary;
      }
    }
  }

  button.dot-menu {
    // Setting height so the button element doesn't expand to cover the full height of the row
    height: $material-icon-height;
  }
}

.dashboard h1 {
  margin-bottom: 38px;

  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }
}
