@import "variables";
@import "node_modules/@material/layout-grid/dist/mdc.layout-grid";
@import "node_modules/@material/top-app-bar/dist/mdc.top-app-bar";
@import "node_modules/react-picky/dist/picky";
@import "node_modules/react-day-picker/lib/style";
@import "node_modules/bootstrap/scss/bootstrap";
@import "auth";
@import "common";
@import "top-app-bar";
@import "collapsible";
@import "footer";
@import "slick";
@import "resource";
@import "notification";
@import "user-menu";
@import "error";
@import "expandable";
@import "dashboard";
@import "home";
@import "product-details";

body {
  font-family: Montserrat, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  color: #000000;
  background: linear-gradient(to bottom, #ffffff, #f5f5f5 200px);

  header {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  }

  .main-panel {
    min-height: calc(100vh - 351px);

    // TODO: temporary fix for home page iamge size, please remove it after home page design
    p {
      img {
        width: 100% !important;
      }
    }
  }
}
