.profile-image {
  border-radius: 100%;
  background-color: $cornflower-blue;
  color: $white;
  width: 34px;
  height: 34px;
  overflow: hidden;
}

.collapsed.dropdown-toggle::after {
  border-top: 0.3em solid transparent;
  border-left: 0.3em solid;
  border-bottom: 0.3em solid transparent;
  border-right: 0;
  vertical-align: unset;
}

.dropdown-menu {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5), 0 13px 11px 8px rgba(0,0,0,0.12);
  border-color: $white-smoke;
  border-radius: 0px;
  right: 0px;
  left: unset;
  padding: 20px 25px;
  margin-top: 22px;

  .dropdown-item {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    color: $black;
    line-height: 14px;
    padding: 7px 0px;

    .dropdown-icon {
      margin-right: 20px;
    }

    &:active,
    &:hover {
      background-color: white;
    }

  }
}

.user-menu.dropdown {

  @include media-breakpoint-down(sm) {
    display: none;
  }

  padding-left: 15px;
  padding-right: 15px;

  &.show {
    color: $primary;

    .dropdown-toggle::after {
      border-color: $primary;
      transform: rotate(45deg);
      margin-top: 5px;
    }
  }

  .dropdown-toggle {
    max-width: 100%;
    padding: 0px;

    &:after {
      border: 2px;
      border-top: 2px solid black;
      border-left: 2px solid black;
      width: 10px;
      height: 10px;
      transform: rotate(225deg);
      margin-left: 10px;
      margin-top: -5px;
      display: inline-block;
      vertical-align: middle;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.icon-dashboard {
  background: url("#{$static-path}/images/icon-dashboard.png") left no-repeat;
  height: 25px;
  width: 25px;
}
