.program-requirements-field, .editor-container .row  {
    clear: both;
}

.editor-container .je-header {
    /* display: none; */
}

/* match django-admin */
.program-requirements-field button {
    background: var(--hairline-color);
    color: var(--body-fg);
    border-radius: 15px;
    border: 0;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.5px;
    padding: 3px 12px;
    margin: 2px 2px 10px;
}

.program-requirements-field .je-object__controls {
    display: none;
}

.program-requirements-field div[data-schemaid="root"] > .je-indented-panel {
    border: 0;
    margin: 0;
}

.program-requirements-field .je-child-editor-holder {
    border: 1px solid rgb(221, 221, 221);
    clear: both;
}

.program-requirements-field .je-table {
    width: 100%;
}

.program-requirements-field .row div[data-schematype="array"] > div {
    margin: 15px;
}

.program-requirements-field .je-indented-panel {
    border: 0;
    margin: 0;
}

.program-requirements-field .je-object__container > h3.je-object__title {
    background: var(--primary);
    color: var(--primary-fg);
}

.program-requirements-field .row > div > .je-header {
    border-bottom: 2px solid var(--border-color);
    background: #fff;
}

.program-requirements-field div[data-schemapath$=".data"] > .je-header label,
.program-requirements-field div[data-schemapath$=".children"] > .je-header label {
    color: var(--body-quiet-color);
}

.je-child-editor-holder > span {
    display: block;
    padding: 5px;
    border-top: 1px solid var(--hairline-color);
}

.je-child-editor-holder > span > button{
    margin: 0;
}


.program-requirements-field .je-header {
    margin: 0;
    padding: 0;
    width: 100%;
} 

.program-requirements-field .je-header label {
    color: var(--primary-fg);
    margin: 5px;
}

.program-requirements-field .je-header button {
    float: right;
    margin: 10px;
}

.program-requirements-field .je-indented-panel select.je-switcher {
    margin: 5px;
}

.program-requirements-field div[data-schemapath$=".children"] .je-indented-panel {
    padding: 0;
    border: 0;
}

.program-requirements-field div[data-schemapath="root"] > h3 {
    display: none;
}
