{% if APIKEYS.GTM_TRACKING_ID %}
    {% if flag %}
    {# TODO: Check analytics.google.com for the correct gtag.js - it's in the data collection, data streams area #}
        <script async src="https://www.googletagmanager.com/gtag/js?id="></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', id);
        </script>
    {% else %}
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ APIKEYS.GTM_TRACKING_ID }}');</script>
    {% endif %}
{% endif %}
