{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <script src="{% static 'admin/js/cancel.js' %}" async></script>
{% endblock %}

{% block content %}
<div id="content-main">
    <h1>Canceling Order</h1>

    <p>Canceling order #{{ order.id }}.</p>

    <ul>
        <li> Placed {{ order.created_on }}</li>
        <li> Total: ${{ order.total_price_paid }}</li>
        <li> Reference: {{ order.reference_number }}</li>
    </ul>

    <p>Any discounts applied to this order will be cleared.</p>

    <form method="POST" id="refund_order_form" novalidate>
    {% csrf_token %}
    <input type="hidden" name="action" value="process_cancel" />
    <input type="hidden" name="order" value="{{ order.id }}" />
        <div>
        </div>

        <div>
            <input type="submit" value="Cancel Order" name="cancel" />
            <a href="#" class="cancel-link" style="margin-left: 2rem;">No, take me back</a>
        </div>

    </form>
</div>
{% endblock %}
