{% load static hijack_tags js_interop %}
{% load wagtailcore_tags startswith noindex_meta %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% spaceless %}
    {% block seohead %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" />
    {% include "partials/gtm_head.html" %}
    <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700|Montserrat:300,400,500,600,700|Inter:400, 700|Poppins:600,700&display=swap"
      media="all"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap"
      media="none" onload="if(media!='all') media='all'">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    {% js_settings %}
    {% render_bundle 'style' %}
    {% noindex_meta %}
    <title>{% block title %}{% endblock %}</title>
    <meta name="google-site-verification" content="{{ domain_verification_tag }}" />
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">

    {% block extrahead %}
    {% endblock %}
    {% endspaceless %}
  </head>
  <body class="{% block bodyclass %}{% endblock %}">
  <div class="main-panel">
    <a href="#main" class="visually-hidden visually-hidden-focusable">Skip to main content</a>
    {% include "partials/gtm_body.html" %}
    {% hijack_notification %}
    {% if not request.path|startswith:'/certificate/' %}
    {% block headercontent %}
      <div id="header"></div>
      {% render_bundle 'header' %}
    {% endblock %}
    {% endif %}
    {% block content %}
        {% block banner %}
        {% endblock %}
    {% endblock %}
    {% block contact-us %}
    {% endblock %}
  </div>
    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}
    {% render_bundle 'django' %}
    {% block scripts %}
      {# Script to defer youtube video rendering #}
      <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
          const iframes = Array.from(document.getElementsByTagName('iframe'));
            iframes.forEach(function (iframe) {
              const data_src = iframe.getAttribute('data-src')
                /* Making sure that we only change attributes of those iframes that have youtube embed as a source url.
                By replacing the src with data-src we let the iframe run the youtube scripts and load the video.*/
              if (data_src && data_src.indexOf("youtube.com/embed") !== -1) {
                iframe.setAttribute('src', data_src);
              }
          });
        });
        </script>
    {% endblock %}
  </body>
</html>
