{% load static %}

<footer class="footer">
  <div class="container">
    <div class="footer-bottom">
      <div class="mit-info">
        <img src="{% static 'images/mit.png' %}" width="78" height="41" alt="MIT" loading="lazy"/>
        <address>
          Massachusetts Institute of Technology <br />77 Massachusetts Avenue
          <br />Cambridge, MA 02139
        </address>
      </div>
      <div class="right-info">
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-5 col-md-6 cold-sm-12">
        <span class="copyright"
          >&copy; {% now "Y" %} Massachusetts Institute of Technology</span
        >  
      </div>

      <div class="col-xl-8 col-lg-7 col-md-6 cold-sm-12">
        <ul class="footer-sub-nav">
          <li><a href="/about-us/">About Us</a></li>
          <li><a href="/terms-of-service/">Terms of Service</a></li>
          <li><a href="/privacy-policy/">Privacy Policy</a></li>
          <li><a href="/honor-code/">Honor Code</a></li>
          <li>
            <a
              target="_blank"
              href="https://accessibility.mit.edu/"
              rel="noopener noreferrer"
              >Accessibility</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
