{% load static %}

<footer class="footer">
  <div class="container">
    <div class="footer-bottom">
      <div class="mit-info">
        <img src="{% static 'images/mit.png' %}" width="78" height="41" alt="MIT" loading="lazy"/>
        <address>
          Massachusetts Institute of Technology <br />77 Massachusetts Avenue
          <br />Cambridge, MA 02139
        </address>
      </div>
      <div class="right-info">
        <ul class="footer-nav">
          <li><a href="/about-us/">About Us</a></li>
        </ul>
      </div>
    </div>
    <ul class="footer-sub-nav">
      <li><a href="/terms-of-service/">Terms of Service</a></li>
      <li><a href="/privacy-policy/">Privacy Policy</a></li>
      <li><a href="/honor-code/">Honor Code</a></li>
      <li>
        <a
          target="_blank"
          href="https://accessibility.mit.edu/"
          rel="noopener noreferrer"
          >Accessibility</a
        >
      </li>
    </ul>
    <span class="copyright"
      >&copy; {% now "Y" %} All rights reserved. <a href="#">{{ site_name }}</a>.</span
    >
  </div>
</footer>
