name: CI
on: [push]
jobs:
  python-tests:
    runs-on: ubuntu-24.04

    services:
      db:
        image: postgres:15.16
        # Health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres  # pragma: allowlist secret
          POSTGRES_DB: postgres
        ports:
          - 5432:5432

      redis:
        image: redis:8.6.0
        ports:
          - 6379:6379

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Apt update
        run: sudo apt-get update -y

      - name: Apt install
        run: cat Aptfile | sudo xargs apt-get install

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install Python
        run: uv python install 3.11

      - name: Install dependencies
        run: uv sync --frozen --no-group prod
        run: ./scripts/test/stub-data.sh

      - name: Running Celery
        run: |
          celery -A main worker -B -l INFO &
          sleep 10
        env:
          CELERY_TASK_ALWAYS_EAGER: 'True'
          CELERY_BROKER_URL: redis://localhost:6379/4
          CELERY_RESULT_BACKEND: redis://localhost:6379/4
          SECRET_KEY: local_unsafe_key   # pragma: allowlist secret
          MITX_ONLINE_BASE_URL: http://localhost:8013
          MAILGUN_SENDER_DOMAIN: other.fake.site
          MAILGUN_KEY: fake_mailgun_key
          MITX_ONLINE_ADMIN_EMAIL: example@localhost
          OPENEDX_API_CLIENT_ID: fake_client_id
          OPENEDX_API_CLIENT_SECRET: fake_client_secret  # pragma: allowlist secret

      - name: Django system checks
        run: uv run ./manage.py check --fail-level WARNING
        env:
          CELERY_TASK_ALWAYS_EAGER: 'True'
          CELERY_BROKER_URL: redis://localhost:6379/4
          CELERY_RESULT_BACKEND: redis://localhost:6379/4
          SECRET_KEY: local_unsafe_key   # pragma: allowlist secret
          MITX_ONLINE_BASE_URL: http://localhost:8013
          MAILGUN_SENDER_DOMAIN: other.fake.site
          MAILGUN_KEY: fake_mailgun_key
          MITX_ONLINE_ADMIN_EMAIL: example@localhost
          OPENEDX_API_CLIENT_ID: fake_client_id
          OPENEDX_API_CLIENT_SECRET: fake_client_secret  # pragma: allowlist secret

      - name: Tests
        run: |
          export MEDIA_ROOT="$(mktemp -d)"
          cp scripts/test/data/webpack-stats/* webpack-stats/
          ./scripts/test/python_tests.sh
        env:
          DEBUG: False
          NODE_ENV: 'production'
          CELERY_TASK_ALWAYS_EAGER: 'True'
          CELERY_BROKER_URL: redis://localhost:6379/4
          CELERY_RESULT_BACKEND: redis://localhost:6379/4
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/postgres  # pragma: allowlist secret
          MAILGUN_KEY: fake_mailgun_key
          MAILGUN_SENDER_DOMAIN: other.fake.site
          MITX_ONLINE_ADMIN_EMAIL: example@localhost
          MITX_ONLINE_BASE_URL: http://localhost:8013
          MITX_ONLINE_DB_DISABLE_SSL: 'True'
          MITX_ONLINE_EMAIL_BACKEND: django.core.mail.backends.locmem.EmailBackend
          MITX_ONLINE_NOTIFICATION_EMAIL_BACKEND: django.core.mail.backends.locmem.EmailBackend
          MITX_ONLINE_SECURE_SSL_REDIRECT: 'False'
          MITX_ONLINE_USE_S3: 'False'
          OPENEDX_API_BASE_URL: http://localhost:18000
          OPENEDX_API_CLIENT_ID: fake_client_id
          OPENEDX_API_CLIENT_SECRET: fake_client_secret  # pragma: allowlist secret
          SECRET_KEY: local_unsafe_key  # pragma: allowlist secret

  javascript-tests:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup NodeJS
        uses: actions/setup-node@v2-beta
        with:
          node-version: "20.18"

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT

      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install --immutable

      - name: Lints
        run: yarn workspaces foreach run lint

      - name: Code formatting
        run: yarn workspaces foreach run fmt:check

      - name: Scss lint
        run: yarn workspaces foreach run scss_lint

      - name: Flow
        run: yarn workspaces foreach run flow

      - name: Tests
        run: yarn workspaces foreach run test
        env:
          NODE_ENV: development

      - name: Webpack production build
        run: |
          yarn workspaces foreach run build --bail --mode production
        env:
          NODE_ENV: production
