name: Publish Documentation
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-24.04
    name: Publish Documentation
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: "3.11"
      - name: Install ghp-import
        run: pip install ghp-import
      - name: Build documentation
        run: "./pants docs ::"
      - name: Publish Documentation
        run: ghp-import --push --force --no-history --no-jekyll dist/sphinx/
